.project
*~
*.diff
*.patch
.DS_Store
cache/
combined/
combine/
compiled/
dist/
tmp/
temp/
*.swp
.gitignore

# branch preview
branches

# node build dependencies
node_modules

# tests output
_tests/

# phantom junit output
build/test-results/
