.project
*~
*.diff
*.patch
.DS_Store
cache/
combined/
combine/
compiled/
tmp/
*.swp
.gitignore

# branch preview
branches

# node build dependencies
node_modules

# phantom junit output
build/test-results/