# the rewrite engine requires the ability to follow sym links
Options +FollowSymLinks

RewriteEngine On
RewriteRule ^js/all$ js

# Turn on Expires and set default to 0
ExpiresActive On
ExpiresDefault "access"


# cache text, css, and javascript files for one week
<FilesMatch ".(html|png|jpg|gif|js|css)$">
Header set Cache-Control "max-age=1"
</FilesMatch>


AddType text/css themes/default
AddType text/css themes/dobson