Adam Messinger <adam@adammessinger.com>
Adria Jimenez <ajimix@gmail.com>
Alexander Schmitz <arschmitz@gmail.com> <alexanderschmitz@Alexanders-MacBook-Pro.local>
Alexander Schmitz <arschmitz@gmail.com> <arschmitz>
Alexandre Capt <acapt@adobe.com>
Andrew Haller <andrew.haller@aeonblu.com>
Anne-Gaelle Colom <coloma@westminster.ac.uk> <coloma@wmin.ac.uk>
Ben Clinkinbeard <ben.clinkinbeard@gmail.com>
Brad Broulik <brad.broulik@gmail.com>
Brad Broulik <brad.broulik@gmail.com> <bbroulik@yahoo.com>
Changsuk, Ha <csha71@gmail.com>
Christoph Burgdorf <christoph.burgdorf@bvsn.org>
Christopher Thomas <cwt137@gmail.com>
Cristi Citea <cristi.catea@gmail.com> patrioticcow
Curtis Mathews <cmathews@orcc.com>
Dave Methvin <dave.methvin@gmail.com>
Eddie Cianci <defeated2k4@gmail.com>
Eddie Monge <eddie@eddiemonge.com>
Eddie Monge <eddie@eddiemonge.com> <EMAIL>
Eddie Monge <eddie@eddiemonge.com> Eddie Monge <eddie@eddiemonge.com>
Eddie Monge <eddie@eddiemonge.com> Eddie Monge Jr <eddie@eddiemonge.com>
Eddie Monge <eddie@eddiemonge.com> Eddie Monge Jr. <eddie@eddiemonge.com>
Eric Hynds <eric@hynds.net>
Ernesto Jiménez <me@ernesto-jimenez.com>
Eugen Bolz <eugen.bolz@gmail.com>
Eugen Bolz <eugen.bolz@gmail.com> <info@eugen-bolz.de>
Faolan Cheslack-Postava <fcheslack@gmail.com>
Gabe Hollombe <gabe@avantbard.com> Gabe <gabe@avantbard.com>
Gabriel Schulhof <gabriel.schulhof@intel.com>
Ghislain Seguin <ghislain@gmail.com> <ghislain.seguin@jivesoftware.com>
Ghislain Seguin <ghislain@gmail.com> <ghislain.seguin@macjiver.jiveland.com>
Ghislain Seguin <ghislain@gmail.com> <ghislain@jivesoftware.com>
Ghislain Seguin <ghislain@gmail.com> <ghislain@nikita.(none)>
Ghislain Seguin <ghislain@gmail.com> gseguin
Hans-Peter Buniat <hpbuniat@gmail.com> <hpbuniat@googlemail.com>
Jacob Gable <jacob.gable@gmail.com>
Jake Boone <jakeboone02@gmail.com>
James Burke <jrburke@gmail.com>
Jason Crane <jasonlcrane@gmail.com>
Jason Scott <jasscott@blackberry.com> <me@jasondscott.com>
Jasper de Groot <jasper@ugomobi.com> <mail@ugomobi.com>
John Resig <jeresig@gmail.com>
Jonathan Hogervorst <jonathan@buzzera.com> <jonathan@hogervorst.info>
Jonathan Rowny <jrowny@gmail.com>
Jörn Zaefferer <joern.zaefferer@gmail.com>
Kangsik Kim <allsteady@gmail.com>
Maggie Wachs <maggie@filamentgroup.com>
Markandey Singh <mark.dawn@gmail.com> <markande@whilebattle-lm.(none)>
Matthew David Litwin <mlitwin@kcptech.com>
Maurice Gottlieb <magoo@maugo.de>
Max Rabin <rabin.max@gmail.com>
Oliver Frietsch <oliver.frietsch@web.de>
Patty Toland <patty@filamentgroup.com>
Peter Körner <github@mazdermind.de>
Richard Trott <rtrott@gmail.com>
Scott Jehl <scottjehl@gmail.com> <scott@scottjehl.com>
Stéphane Reynaud <forresst@voila.fr>
Sven Franck <svenfranck@yahoo.com>
Todd Parker <todd@filamentgroup.com>
Todd Parker <todd@filamentgroup.com> <todd@new-host-10.(none)>
Todd Parker <todd@filamentgroup.com> <todd@new-host-7.(none)>
Todd Parker <todd@filamentgroup.com> <todd@Todd-Parkers-MacBook-Pro.local>
Torey Maerz <toreym@gmail.com> Unknown <Torey@.(none)>
Toru Yoshikawa <pikotea@gmail.com>
Tyler Benziger <tabenziger@ucdavis.edu>
Zachary Leatherman <zachleatherman@gmail.com>
