.icon-action-black { background-image: url(png/action-black.png); background-repeat: no-repeat; }

.icon-action-white { background-image: url(png/action-white.png); background-repeat: no-repeat; }

.icon-arrow-down-black { background-image: url(png/arrow-down-black.png); background-repeat: no-repeat; }

.icon-arrow-down-left-black { background-image: url(png/arrow-down-left-black.png); background-repeat: no-repeat; }

.icon-arrow-down-left-white { background-image: url(png/arrow-down-left-white.png); background-repeat: no-repeat; }

.icon-arrow-down-right-black { background-image: url(png/arrow-down-right-black.png); background-repeat: no-repeat; }

.icon-arrow-down-right-white { background-image: url(png/arrow-down-right-white.png); background-repeat: no-repeat; }

.icon-arrow-down-white { background-image: url(png/arrow-down-white.png); background-repeat: no-repeat; }

.icon-arrow-left-black { background-image: url(png/arrow-left-black.png); background-repeat: no-repeat; }

.icon-arrow-left-white { background-image: url(png/arrow-left-white.png); background-repeat: no-repeat; }

.icon-arrow-right-black { background-image: url(png/arrow-right-black.png); background-repeat: no-repeat; }

.icon-arrow-right-white { background-image: url(png/arrow-right-white.png); background-repeat: no-repeat; }

.icon-arrow-up-black { background-image: url(png/arrow-up-black.png); background-repeat: no-repeat; }

.icon-arrow-up-left-black { background-image: url(png/arrow-up-left-black.png); background-repeat: no-repeat; }

.icon-arrow-up-left-white { background-image: url(png/arrow-up-left-white.png); background-repeat: no-repeat; }

.icon-arrow-up-right-black { background-image: url(png/arrow-up-right-black.png); background-repeat: no-repeat; }

.icon-arrow-up-right-white { background-image: url(png/arrow-up-right-white.png); background-repeat: no-repeat; }

.icon-arrow-up-white { background-image: url(png/arrow-up-white.png); background-repeat: no-repeat; }

.icon-audio-black { background-image: url(png/audio-black.png); background-repeat: no-repeat; }

.icon-audio-white { background-image: url(png/audio-white.png); background-repeat: no-repeat; }

.icon-calendar-black { background-image: url(png/calendar-black.png); background-repeat: no-repeat; }

.icon-calendar-white { background-image: url(png/calendar-white.png); background-repeat: no-repeat; }

.icon-camera-black { background-image: url(png/camera-black.png); background-repeat: no-repeat; }

.icon-camera-white { background-image: url(png/camera-white.png); background-repeat: no-repeat; }

.icon-carat-down-black { background-image: url(png/carat-down-black.png); background-repeat: no-repeat; }

.icon-carat-down-white { background-image: url(png/carat-down-white.png); background-repeat: no-repeat; }

.icon-carat-left-black { background-image: url(png/carat-left-black.png); background-repeat: no-repeat; }

.icon-carat-left-white { background-image: url(png/carat-left-white.png); background-repeat: no-repeat; }

.icon-carat-right-black { background-image: url(png/carat-right-black.png); background-repeat: no-repeat; }

.icon-carat-right-white { background-image: url(png/carat-right-white.png); background-repeat: no-repeat; }

.icon-carat-up-black { background-image: url(png/carat-up-black.png); background-repeat: no-repeat; }

.icon-carat-up-white { background-image: url(png/carat-up-white.png); background-repeat: no-repeat; }

.icon-check-black { background-image: url(png/check-black.png); background-repeat: no-repeat; }

.icon-check-white { background-image: url(png/check-white.png); background-repeat: no-repeat; }

.icon-clock-black { background-image: url(png/clock-black.png); background-repeat: no-repeat; }

.icon-clock-white { background-image: url(png/clock-white.png); background-repeat: no-repeat; }

.icon-cloud-black { background-image: url(png/cloud-black.png); background-repeat: no-repeat; }

.icon-cloud-white { background-image: url(png/cloud-white.png); background-repeat: no-repeat; }

.icon-dialpad-black { background-image: url(png/dialpad-black.png); background-repeat: no-repeat; }

.icon-dialpad-white { background-image: url(png/dialpad-white.png); background-repeat: no-repeat; }

.icon-envelope-black { background-image: url(png/envelope-black.png); background-repeat: no-repeat; }

.icon-envelope-white { background-image: url(png/envelope-white.png); background-repeat: no-repeat; }

.icon-eye-black { background-image: url(png/eye-black.png); background-repeat: no-repeat; }

.icon-eye-white { background-image: url(png/eye-white.png); background-repeat: no-repeat; }

.icon-gear-black { background-image: url(png/gear-black.png); background-repeat: no-repeat; }

.icon-gear-white { background-image: url(png/gear-white.png); background-repeat: no-repeat; }

.icon-heart-black { background-image: url(png/heart-black.png); background-repeat: no-repeat; }

.icon-heart-white { background-image: url(png/heart-white.png); background-repeat: no-repeat; }

.icon-house-black { background-image: url(png/house-black.png); background-repeat: no-repeat; }

.icon-house-white { background-image: url(png/house-white.png); background-repeat: no-repeat; }

.icon-info-black { background-image: url(png/info-black.png); background-repeat: no-repeat; }

.icon-info-white { background-image: url(png/info-white.png); background-repeat: no-repeat; }

.icon-list-black { background-image: url(png/list-black.png); background-repeat: no-repeat; }

.icon-list-bulleted-black { background-image: url(png/list-bulleted-black.png); background-repeat: no-repeat; }

.icon-list-bulleted-white { background-image: url(png/list-bulleted-white.png); background-repeat: no-repeat; }

.icon-list-white { background-image: url(png/list-white.png); background-repeat: no-repeat; }

.icon-location-arrow-black { background-image: url(png/location-arrow-black.png); background-repeat: no-repeat; }

.icon-location-arrow-white { background-image: url(png/location-arrow-white.png); background-repeat: no-repeat; }

.icon-lock-black { background-image: url(png/lock-black.png); background-repeat: no-repeat; }

.icon-lock-white { background-image: url(png/lock-white.png); background-repeat: no-repeat; }

.icon-magnifying-glass-black { background-image: url(png/magnifying-glass-black.png); background-repeat: no-repeat; }

.icon-magnifying-glass-white { background-image: url(png/magnifying-glass-white.png); background-repeat: no-repeat; }

.icon-map-marker-black { background-image: url(png/map-marker-black.png); background-repeat: no-repeat; }

.icon-map-marker-white { background-image: url(png/map-marker-white.png); background-repeat: no-repeat; }

.icon-minus-black { background-image: url(png/minus-black.png); background-repeat: no-repeat; }

.icon-minus-white { background-image: url(png/minus-white.png); background-repeat: no-repeat; }

.icon-no-black { background-image: url(png/no-black.png); background-repeat: no-repeat; }

.icon-no-white { background-image: url(png/no-white.png); background-repeat: no-repeat; }

.icon-pencil-black { background-image: url(png/pencil-black.png); background-repeat: no-repeat; }

.icon-pencil-white { background-image: url(png/pencil-white.png); background-repeat: no-repeat; }

.icon-person-black { background-image: url(png/person-black.png); background-repeat: no-repeat; }

.icon-person-white { background-image: url(png/person-white.png); background-repeat: no-repeat; }

.icon-phone-black { background-image: url(png/phone-black.png); background-repeat: no-repeat; }

.icon-phone-white { background-image: url(png/phone-white.png); background-repeat: no-repeat; }

.icon-plus-black { background-image: url(png/plus-black.png); background-repeat: no-repeat; }

.icon-plus-white { background-image: url(png/plus-white.png); background-repeat: no-repeat; }

.icon-power-black { background-image: url(png/power-black.png); background-repeat: no-repeat; }

.icon-power-white { background-image: url(png/power-white.png); background-repeat: no-repeat; }

.icon-re-cycle-black { background-image: url(png/re-cycle-black.png); background-repeat: no-repeat; }

.icon-re-cycle-white { background-image: url(png/re-cycle-white.png); background-repeat: no-repeat; }

.icon-redo-black { background-image: url(png/redo-black.png); background-repeat: no-repeat; }

.icon-redo-white { background-image: url(png/redo-white.png); background-repeat: no-repeat; }

.icon-refresh-black { background-image: url(png/refresh-black.png); background-repeat: no-repeat; }

.icon-refresh-white { background-image: url(png/refresh-white.png); background-repeat: no-repeat; }

.icon-shopping-bag-black { background-image: url(png/shopping-bag-black.png); background-repeat: no-repeat; }

.icon-shopping-bag-white { background-image: url(png/shopping-bag-white.png); background-repeat: no-repeat; }

.icon-speech-bubble-black { background-image: url(png/speech-bubble-black.png); background-repeat: no-repeat; }

.icon-speech-bubble-white { background-image: url(png/speech-bubble-white.png); background-repeat: no-repeat; }

.icon-star-black { background-image: url(png/star-black.png); background-repeat: no-repeat; }

.icon-star-white { background-image: url(png/star-white.png); background-repeat: no-repeat; }

.icon-tag-black { background-image: url(png/tag-black.png); background-repeat: no-repeat; }

.icon-tag-white { background-image: url(png/tag-white.png); background-repeat: no-repeat; }

.icon-undo-black { background-image: url(png/undo-black.png); background-repeat: no-repeat; }

.icon-undo-white { background-image: url(png/undo-white.png); background-repeat: no-repeat; }

.icon-video-black { background-image: url(png/video-black.png); background-repeat: no-repeat; }

.icon-video-white { background-image: url(png/video-white.png); background-repeat: no-repeat; }

.icon-warning-black { background-image: url(png/warning-black.png); background-repeat: no-repeat; }

.icon-warning-white { background-image: url(png/warning-white.png); background-repeat: no-repeat; }

.icon-x-black { background-image: url(png/x-black.png); background-repeat: no-repeat; }

.icon-x-white { background-image: url(png/x-white.png); background-repeat: no-repeat; }