.ui-icon-action:after {
	background-image: url(png/action-white.png);
}
.ui-icon-arrow-down-left:after {
	background-image: url(png/arrow-down-left-white.png);
}
.ui-icon-arrow-down-right:after {
	background-image: url(png/arrow-down-right-white.png);
}
.ui-icon-arrow-down:after {
	background-image: url(png/arrow-down-white.png);
}
.ui-icon-arrow-left:after {
	background-image: url(png/arrow-left-white.png);
}
.ui-icon-arrow-right:after {
	background-image: url(png/arrow-right-white.png);
}
.ui-icon-arrow-up-left:after {
	background-image: url(png/arrow-up-left-white.png);
}
.ui-icon-arrow-up-right:after {
	background-image: url(png/arrow-up-right-white.png);
}
.ui-icon-arrow-up:after {
	background-image: url(png/arrow-up-white.png);
}
.ui-icon-audio:after {
	background-image: url(png/audio-white.png);
}
.ui-icon-calendar:after {
	background-image: url(png/calendar-white.png);
}
.ui-icon-camera:after {
	background-image: url(png/camera-white.png);
}
.ui-icon-carat-down:after {
	background-image: url(png/carat-down-white.png);
}
.ui-icon-carat-left:after {
	background-image: url(png/carat-left-white.png);
}
.ui-icon-carat-right:after {
	background-image: url(png/carat-right-white.png);
}
.ui-icon-carat-up:after {
	background-image: url(png/carat-up-white.png);
}
.ui-icon-check:after,
.ui-icon-checkbox-on:after {
	background-image: url(png/check-white.png);
}
.ui-icon-clock:after {
	background-image: url(png/clock-white.png);
}
.ui-icon-cloud:after {
	background-image: url(png/cloud-white.png);
}
.ui-icon-dialpad:after {
	background-image: url(png/dialpad-white.png);
}
.ui-icon-envelope:after {
	background-image: url(png/envelope-white.png);
}
.ui-icon-eye:after {
	background-image: url(png/eye-white.png);
}
.ui-icon-gear:after {
	background-image: url(png/gear-white.png);
}
.ui-icon-heart:after {
	background-image: url(png/heart-white.png);
}
.ui-icon-house:after {
	background-image: url(png/house-white.png);
}
.ui-icon-info:after {
	background-image: url(png/info-white.png);
}
.ui-icon-list-bulleted:after {
	background-image: url(png/list-bulleted-white.png);
}
.ui-icon-list:after {
	background-image: url(png/list-white.png);
}
.ui-icon-location-arrow:after {
	background-image: url(png/location-arrow-white.png);
}
.ui-icon-lock:after {
	background-image: url(png/lock-white.png);
}
.ui-icon-magnifying-glass:after,
.ui-input-search:after {
	background-image: url(png/magnifying-glass-white.png);
}
.ui-icon-map-marker:after {
	background-image: url(png/map-marker-white.png);
}
.ui-icon-minus:after {
	background-image: url(png/minus-white.png);
}
.ui-icon-no:after {
	background-image: url(png/no-white.png);
}
.ui-icon-pencil:after {
	background-image: url(png/pencil-white.png);
}
.ui-icon-person:after {
	background-image: url(png/person-white.png);
}
.ui-icon-phone:after {
	background-image: url(png/phone-white.png);
}
.ui-icon-plus:after {
	background-image: url(png/plus-white.png);
}
.ui-icon-power:after {
	background-image: url(png/power-white.png);
}
.ui-icon-re-cycle:after {
	background-image: url(png/re-cycle-white.png);
}
.ui-icon-redo:after {
	background-image: url(png/redo-white.png);
}
.ui-icon-refresh:after {
	background-image: url(png/refresh-white.png);
}
.ui-icon-shopping-bag:after {
	background-image: url(png/shopping-bag-white.png);
}
.ui-icon-speech-bubble:after {
	background-image: url(png/speech-bubble-white.png);
}
.ui-icon-star:after {
	background-image: url(png/star-white.png);
}
.ui-icon-tag:after {
	background-image: url(png/tag-white.png);
}
.ui-icon-undo:after {
	background-image: url(png/undo-white.png);
}
.ui-icon-video:after {
	background-image: url(png/video-white.png);
}
.ui-icon-warning:after {
	background-image: url(png/warning-white.png);
}
.ui-icon-x:after {
	background-image: url(png/x-white.png);
}

/* Alt icons */
.ui-icon-alt.ui-icon-action:after,
.ui-icon-alt .ui-icon-action:after {
	background-image: url(png/action-black.png);
}
.ui-icon-alt.ui-icon-arrow-down:after,
.ui-icon-alt .ui-icon-arrow-down:after {
	background-image: url(png/arrow-down-black.png);
}
.ui-icon-alt.ui-icon-arrow-down-left:after,
.ui-icon-alt .ui-icon-arrow-down-left:after {
	background-image: url(png/arrow-down-left-black.png);
}
.ui-icon-alt.ui-icon-arrow-down-right:after,
.ui-icon-alt .ui-icon-arrow-down-right:after {
	background-image: url(png/arrow-down-right-black.png);
}
.ui-icon-alt.ui-icon-arrow-left:after,
.ui-icon-alt .ui-icon-arrow-left:after {
	background-image: url(png/arrow-left-black.png);
}
.ui-icon-alt.ui-icon-arrow-right:after,
.ui-icon-alt .ui-icon-arrow-right:after {
	background-image: url(png/arrow-right-black.png);
}
.ui-icon-alt.ui-icon-arrow-up:after,
.ui-icon-alt .ui-icon-arrow-up:after {
	background-image: url(png/arrow-up-black.png);
}
.ui-icon-alt.ui-icon-arrow-up-left:after,
.ui-icon-alt .ui-icon-arrow-up-left:after {
	background-image: url(png/arrow-up-left-black.png);
}
.ui-icon-alt.ui-icon-arrow-up-right:after,
.ui-icon-alt .ui-icon-arrow-up-right:after {
	background-image: url(png/arrow-up-right-black.png);
}
.ui-icon-alt.ui-icon-audio:after,
.ui-icon-alt .ui-icon-audio:after {
	background-image: url(png/audio-black.png);
}
.ui-icon-alt.ui-icon-calendar:after,
.ui-icon-alt .ui-icon-calendar:after {
	background-image: url(png/calendar-black.png);
}
.ui-icon-alt.ui-icon-camera:after,
.ui-icon-alt .ui-icon-camera:after {
	background-image: url(png/camera-black.png);
}
.ui-icon-alt.ui-icon-carat-down:after,
.ui-icon-alt .ui-icon-carat-down:after {
	background-image: url(png/carat-down-black.png);
}
.ui-icon-alt.ui-icon-carat-left:after,
.ui-icon-alt .ui-icon-carat-left:after {
	background-image: url(png/carat-left-black.png);
}
.ui-icon-alt.ui-icon-carat-right:after,
.ui-icon-alt .ui-icon-carat-right:after {
	background-image: url(png/carat-right-black.png);
}
.ui-icon-alt.ui-icon-carat-up:after,
.ui-icon-alt .ui-icon-carat-up:after {
	background-image: url(png/carat-up-black.png);
}
.ui-icon-alt.ui-icon-check:after,
.ui-icon-alt .ui-icon-check:after,
.ui-icon-alt.ui-icon-checkbox-on:after,
.ui-icon-alt .ui-icon-checkbox-on:after {
	background-image: url(png/checkbox-on-black.png);
}
.ui-icon-alt.ui-icon-clock:after,
.ui-icon-alt .ui-icon-clock:after {
	background-image: url(png/clock-black.png);
}
.ui-icon-alt.ui-icon-cloud:after,
.ui-icon-alt .ui-icon-cloud:after {
	background-image: url(png/cloud-black.png);
}
.ui-icon-alt.ui-icon-dialpad:after,
.ui-icon-alt .ui-icon-dialpad:after {
	background-image: url(png/dialpad-black.png);
}
.ui-icon-alt.ui-icon-envelope:after,
.ui-icon-alt .ui-icon-envelope:after {
	background-image: url(png/envelope-black.png);
}
.ui-icon-alt.ui-icon-eye:after,
.ui-icon-alt .ui-icon-eye:after {
	background-image: url(png/eye-black.png);
}
.ui-icon-alt.ui-icon-gear:after,
.ui-icon-alt .ui-icon-gear:after {
	background-image: url(png/gear-black.png);
}
.ui-icon-alt.ui-icon-heart:after,
.ui-icon-alt .ui-icon-heart:after {
	background-image: url(png/heart-black.png);
}
.ui-icon-alt.ui-icon-house:after,
.ui-icon-alt .ui-icon-house:after {
	background-image: url(png/house-black.png);
}
.ui-icon-alt.ui-icon-info:after,
.ui-icon-alt .ui-icon-info:after {
	background-image: url(png/info-black.png);
}
.ui-icon-alt.ui-icon-list:after,
.ui-icon-alt .ui-icon-list:after {
	background-image: url(png/list-black.png);
}
.ui-icon-alt.ui-icon-list-bulleted:after,
.ui-icon-alt .ui-icon-list-bulleted:after {
	background-image: url(png/list-bulleted-black.png);
}
.ui-icon-alt.ui-icon-location-arrow:after,
.ui-icon-alt .ui-icon-location-arrow:after {
	background-image: url(png/location-arrow-black.png);
}
.ui-icon-alt.ui-icon-lock:after,
.ui-icon-alt .ui-icon-lock:after {
	background-image: url(png/lock-black.png);
}
.ui-icon-alt.ui-icon-magnifying-glass:after,
.ui-icon-alt .ui-icon-magnifying-glass:after,
.ui-icon-alt.ui-input-search:after,
.ui-icon-alt .ui-input-search:after {
	background-image: url();
}
.ui-icon-alt.ui-icon-map-marker:after,
.ui-icon-alt .ui-icon-map-marker:after {
	background-image: url(png/map-marker-black.png);
}
.ui-icon-alt.ui-icon-minus:after,
.ui-icon-alt .ui-icon-minus:after {
	background-image: url(png/minus-black.png);
}
.ui-icon-alt.ui-icon-no:after,
.ui-icon-alt .ui-icon-no:after {
	background-image: url(png/no-black.png);
}
.ui-icon-alt.ui-icon-pencil:after,
.ui-icon-alt .ui-icon-pencil:after {
	background-image: url(png/pencil-black.png);
}
.ui-icon-alt.ui-icon-person:after,
.ui-icon-alt .ui-icon-person:after {
	background-image: url(png/person-black.png);
}
.ui-icon-alt.ui-icon-phone:after,
.ui-icon-alt .ui-icon-phone:after {
	background-image: url(png/phone-black.png);
}
.ui-icon-alt.ui-icon-plus:after,
.ui-icon-alt .ui-icon-plus:after {
	background-image: url(png/plus-black.png);
}
.ui-icon-alt.ui-icon-power:after,
.ui-icon-alt .ui-icon-power:after {
	background-image: url(png/power-black.png);
}
.ui-icon-alt.ui-icon-re-cycle:after,
.ui-icon-alt .ui-icon-re-cycle:after {
	background-image: url(png/re-cycle-black.png);
}
.ui-icon-alt.ui-icon-redo:after,
.ui-icon-alt .ui-icon-redo:after {
	background-image: url(png/redo-black.png);
}
.ui-icon-alt.ui-icon-refresh:after,
.ui-icon-alt .ui-icon-refresh:after {
	background-image: url(png/refresh-black.png);
}
.ui-icon-alt.ui-icon-shopping-bag:after,
.ui-icon-alt .ui-icon-shopping-bag:after {
	background-image: url(png/shopping-bag-black.png);
}
.ui-icon-alt.ui-icon-speech-bubble:after,
.ui-icon-alt .ui-icon-speech-bubble:after {
	background-image: url(png/speech-bubble-black.png);
}
.ui-icon-alt.ui-icon-star:after,
.ui-icon-alt .ui-icon-star:after {
	background-image: url(png/star-black.png);
}
.ui-icon-alt.ui-icon-tag:after,
.ui-icon-alt .ui-icon-tag:after {
	background-image: url(png/tag-black.png);
}
.ui-icon-alt.ui-icon-undo:after,
.ui-icon-alt .ui-icon-undo:after {
	background-image: url(png/undo-black.png);
}
.ui-icon-alt.ui-icon-video:after,
.ui-icon-alt .ui-icon-video:after {
	background-image: url(png/video-black.png);
}
.ui-icon-alt.ui-icon-warning:after,
.ui-icon-alt .ui-icon-warning:after {
	background-image: url(png/warning-black.png);
}
.ui-icon-alt.ui-icon-x:after,
.ui-icon-alt .ui-icon-x:after {
	background-image: url(png/x-black.png);
}
