.ui-icon-action:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKZJREFUKJGVkbEJAkEQRQcRM2OxAQswE8E27MDUDo5rQ8HYIswtRQwFDTR4f0xcmTuX9e6Hs/8tf/6YdRCwd/dRF29D7u7AWdK0N/iBL5IWjWFQbWYmaQYc3f0WH4GXu2/aYIJWwCPz6S+YYkkaA1fgKamSNClGDeAWuEtaFstpg8BJ0jqWA+zSOdI6OfBQaLf+ejNR5//OkgVLit5hHHaBkwZ9zFFvZs0ccjGSLdsAAAAASUVORK5CYII=');
}
.ui-icon-arrow-down-left:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFNJREFUKJG1z0EOwCAIRNFJL65H82bfldYYLJOYsgReGCSzgApUd39Fozy8oYmfDEkqX0P30hs1yp2iBc6mhTYI0CwUQA8ZMEYJbEf018WrH4+4A9wPh5Xf8X4IAAAAAElFTkSuQmCC');
}
.ui-icon-arrow-down-right:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFNJREFUKJGdz8ENwCAMQ9Goi8NobPa5BIlWSmXHNwJPJhEZYAIznCQ60fAHyfgp5kNqLlrL5tdcxeed1XzfO99e98Hd+R8quISJlw1bja0dFQSwAX/xh5U/zsvtAAAAAElFTkSuQmCC');
}
.ui-icon-arrow-down:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEhJREFUKJHtzkEOACEIQ1Hrybn5d2UyqYgcYLoj9BE0kgB8Z0nyzsxgJz+sIBBYvOR7IPbiwEXCr3Zw+DcdnKMHrtEF95DhK1pu1cxOP8SdXAAAAABJRU5ErkJggg==');
}
.ui-icon-arrow-left:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEZJREFUKJGt0EEKACAMA8Hiy/vz9SSIGG2ruYaBEDMRwFUnAzhACaXgjMJwRSG4Q7eUEEALH/Bt6tM5Cpdnp+CM03DgU98BQE0QhxV4c5sAAAAASUVORK5CYII=');
}
.ui-icon-arrow-right:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAE1JREFUKJGlzkEOgCAMRNEJ8d725t+FJqBgaeFvJ6+p5ASYt3uQJUwth3kXx/SZN84ySTpSv9+dgMoC3Hs1e3SOBjCGPjCOGphDD/xFF8mf3K/9psbaAAAAAElFTkSuQmCC');
}
.ui-icon-arrow-up-left:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAExJREFUKJG1zzEOACAIA8Diy/Fn/gw3BwJSTGSEXEph3Cj8PCECxqiAK0W/ElsdF4390cyUwtGSwlkHOrmLxw2KiAKYZQKZXL8a4IM2BLqImUv2H64AAAAASUVORK5CYII=');
}
.ui-icon-arrow-up-right:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAE1JREFUKJG9z0ESACAEBdB0ct3MzbSpmcagr0V/iTdozURVWYFYB2MXIjiEC8ufjU8/JkhCmCC2fRjZuRI6cRnt9KA+iCiF3ql34GAYTbCliJmlXPngAAAAAElFTkSuQmCC');
}
.ui-icon-arrow-up:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAERJREFUKJHt0DsOACAIREHw5Nx8rTT+dsXe1xGZhGhGAhAAgr0r1MrhBeUwQRpf0Bkn0YwfUcdOzsY4u/u2V+RviT4UVc6g3DzF0w5VAAAAAElFTkSuQmCC');
}
.ui-icon-audio:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAARdJREFUKJF9kq1OQ0EQhWdHYrjBNzSEVKDA8SQoAsGhmiCogYQmdTjeAosBwQM0qaISgSBo/hL+RM85iM5tlpvlHjW7M9/O5MyaFUTyrI4lOYBbkrul2oUAjADMMnATwJckAbj4F4qCWX5PsgfgXpJIDopQDpI8INmPuAPgGcCPpK4BmKihGgQwjS7HAfcjf25NqNFxFcALgE9JlaQKc029zSh3fzSzS3dfkrSdUnozsyczW28FQ6k2ODurdVRJawBeAXxIWia5EqPeOckxSZRakbxy9yqldJJSejezfXd3M7tZFEkaFszZI3kY+W4Y9U2y86dDDRc+wAaAh1jNUdEJScMcJLkVS5/vr00kT7OHHMA1yZ285hfgMGjW9+5ILwAAAABJRU5ErkJggg==');
}
.ui-icon-calendar:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEdJREFUKJHt0EEKwDAIRFHt/e+VFHqlz2QTuzOkbrrJW43ggGg2ATfQLCHpAXrMLknZ8spVKf1TLHuf4+6f8jl1RdNuDuVTB+VLWurqfLnpAAAAAElFTkSuQmCC');
}
.ui-icon-camera:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAALhJREFUKJGVkDFOA1EMRGf+AWAbuBbiAIhqRREkiuQSFBwQiRIhdk8QpMwzzRbR3yiBV1nWeDy21JHkLcmhFpIckrz2OgH3Sab6I0lm4M5Jptba7crxDMCsE457YFNVA3AFbJLse13r3WxvJX0B71X1IenT9m619sQZw/HNS319cWNVIamOW5Lc61aDkh5sPwHfwGR7rKrHi1GX5zwv8QbgJclPr3OSubV2c+79PcDUbI/A/J8h2+MvV+chIdqU1YYAAAAASUVORK5CYII=');
}
.ui-icon-carat-down:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEFJREFUGJWNkMEOACAIQlk/nn9OF9vMJOOkwpsbAACSRtIgdPi+bF1Q9kfyZ4R8nupllFW3DtLhBpJlfJXwgsrwAu7apWc+O3nlAAAAAElFTkSuQmCC');
}
.ui-icon-carat-left:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEFJREFUGJWtjkEKACEMxFLZf+/48tmLBwsWFzSnQsoQWGBbtgXwrCTwjptWyWp2Rhck5IaS3crZU2qICAH9b5MAPlUMi4xP1mXlAAAAAElFTkSuQmCC');
}
.ui-icon-carat-right:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAD9JREFUGJWdkDEOACAIAw8/Lr68LroAOtCNXFOaAiDJJTmVDrxKphHuWSaFlDKpb4od3vq+6MNih2Vmz/YZABuZM5OBBPeJYgAAAABJRU5ErkJggg==');
}
.ui-icon-carat-up:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEBJREFUGJV9kMEKADAIQmtfbl/uLtsYoXmKfIYUIUQSJKE8B1/NoQbPIQPrkIChdhaeDq3WrDLzBc5crr/9yO9v0Dinb5SKJTsAAAAASUVORK5CYII=');
}
.ui-icon-check:after,
.ui-icon-checkbox-on:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGlJREFUKJGVkFEKwCAMQ9vee1AdjLE7x+xnMEXRms/S1zQRCYqkk/TovoiIAEj8FYMBZPZyW0Fmdkwvk3QAqYLOgVP76hecJAkgb0MLNaVYKUUDHSVV9W46ea1zGsHXNlTlvbehyvmJQC95zvcNDVD87AAAAABJRU5ErkJggg==');
}
.ui-icon-clock:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAP1JREFUKJGFkl1KQlEUhQ8+yZ1AolPRHEVwoVFUCA0gycFESDiH9E3RiZiBvnxr9dA+csh7c8OB87P+2GenVJSkge0ZsANOsbbAq6R+aipJ98C3Wwo4SKqbSArAm+2h7a7trqQR8B5vOpMlDbKTpMcsBqyAz0J8EuQv271ke5adyhQ5YnkHzAM7TcAuMMNrREm3Qdwk4BSYbhMxgMu4q+J87DS2+Fd9Waa8AADbaMyoTaQQG4fjupNSWkSMh2tE20+xXSRJfeAQrpN/SM/htpd0kyPUxQDMo3uV7UrSGPjIA2D77m/+Oj63beT2F6QiTg+YAhvgGGsNvJzjRf0AqXKgfyngg7AAAAAASUVORK5CYII=');
}
.ui-icon-cloud:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIhJREFUKJGV0MEJwkAQRuFxQTCxDC1HsI+0kZBucrEGxUOKkBy1AhHePx50YcGNbN7925lZsyRJW6AHJj5NQCupsrncvQZGzwRc3X2ThUCXQwkeJDU/04HbP5g8cIp37b+rFAU846RLKYpQ0nEFvEII69lfyyTpEcxsXIKiNUk74AxQuOpd0uENS+I31QOq6s4AAAAASUVORK5CYII=');
}
.ui-icon-dialpad:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFNJREFUKJHV0DEOwDAIQ1GT+5+rTaReCbtLKkWkA2LLXxBvA7j70MzdbwAI1gFA0rOaSRKWzCxlDcUayf4tJK85/2xEq3XWc7ajs1YrHp21g57zAoqm8vdVdCs0AAAAAElFTkSuQmCC');
}
.ui-icon-envelope:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKJJREFUKJGljrENwkAQBI935oAaIIUKoBUScoqAJsgJ3IpLcAo1OIDIu0PyRujlwIKJTtqd04btg6SemUjqbR8CqG2vJbUzpBZYAXVI6mxvgAq4SBomhMH2GahsbyV1kYMncIyIsL2X9PiS7rZ3ERHAMXeJ4vktT19KaiQ1tpdAnbMPpcg4PTLjtLK3AIgC26+U0inf15RSXXYmxTmkX6S/xDf/HTl2BI6HCQAAAABJRU5ErkJggg==');
}
.ui-icon-eye:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAALxJREFUKJF9kr0NwlAQgy8MwE8VKvaCFQJkLliCUCEWgI4piBSKz6Z5kZ6SgKVX3Z3PZ7+IDLYLSTvgCrRAa7uRtLNdxBRsr203/o1GUjkc2gAv2wY6SZXtpaS5pAroUu1le9MPLYBnTyupGqqRtO/rqXcRts8DScuICOAO3HryvAE4zSYPTovSi4gYGzMh9TAhtc62PSTNf5lztL1KBtXAZ2ROxlr+iwO4jOLIZBeStrYb4A28U37b4Qf4AtYVT9MZSwpWAAAAAElFTkSuQmCC');
}
.ui-icon-gear:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAARhJREFUKJFtUkFKA0EQ7O7dvWogt6AQ0SeIon5CCJKTCHrcgA/QQw6+NBeJ5AHJhqrykNmwjtOnmaluqrpqzApF8gLAHkBH8rzUE4PmOck7SY2kt4ioI6Ixs1dJNcl7SU85w1ySABDARlkB2CSMJGdmZnWaXZFURLiZjf/JihgnApnZ6ghIanomAFuSraQRyROSLYBtwtaSqqERX70skm3BrMVA+VLS1ADss5VG+aCk02znLsxMWRML7nsuItz9UtJy8PhcYHwZnD/d/aq/1Jk5iyRvRPIdwC5h35KO2RvJhzy7UuEQ5I1Z+jnuPiEpHmpdcPUnZejuPsnBGclrSVWyvI/nQ1JF8lbSY8G4P2ZMAXQAdiTPSj2/CeV/A2CIIKUAAAAASUVORK5CYII=');
}
.ui-icon-heart:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAALtJREFUKJGVkTFKBGEUg/P+MyxoqwgL3sPGs1iJlQqC4Dm2EI8g3sNGO9lSELSy8ktsLIZhdvwn5QsfJHmSJNvHwBPwDXwCmyQr23vAfZKvP+/R9lqSlGQf+MhIwDPwOnF/T7KS7cux+Z9sX7QkB1qoJIetqrZLwap6K9vrJC+tteqBbLuqjiRJwENvP2AzzDy57M5FRxFOAWagH9snu/Kfz7zgbLY8cDsBXfUMJ+BuAN10QUPY9vUiqEe/q914gACE4tQAAAAASUVORK5CYII=');
}
.ui-icon-house:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAE1JREFUKJHV0MEOwCAIA9DW7MP983pymUaweluv8IAABJFUJdWonqEeD0/IwwHK8QatsYlGfIhezM9WOc8jSQAoTvMqTzY1u+Z6449gA9r24D4iZ6wwAAAAAElFTkSuQmCC');
}
.ui-icon-info:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAMlJREFUKJGdkkFKA0EUBf/0xiMYkntI8B5CwOsYzIFyEIPZiKdIIjibqu9mDJOxO0ge/FV3db8uOmIUdZGZG2AP9MO8A6/qPGpRn4GvbAQ4qasa5Hij+qAuJ7BnWF3UblKX6mPl5mNmziIzN616V2qvA9hPF8bPaIC7DuhLKXdTWV3Xdb9gRWRfqor/kRIRnzdwHyUitjeA21DnwKklJ+JSEHBQ7yMiQl1NP0DDppn5dHHqAB+vQIc/0KjSDFgDO+B7mDfg5VxvyA/7S6y1J325mgAAAABJRU5ErkJggg==');
}
.ui-icon-list-bulleted:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEZJREFUKJHlzzEKACEMRNHB+99LhT2SP7GJkGbRws4HgQykyAjoQFUAum8ArUiymCXvfzi4ue2Fju7+AS3no45mNvLPkXeYBFiehbdJ93wAAAAASUVORK5CYII=');
}
.ui-icon-list:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAADlJREFUKJHlz8ENACAMQlHsSu5/t4kjCThD69F3/yGAZLqI5AoAQh0bzasPPg7bG8CsRJIyJJ3GIC/5Mn9OKOW86gAAAABJRU5ErkJggg==');
}
.ui-icon-location-arrow:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIdJREFUKJGVkbENwkAQBP+QoAZXAp2QQC+IMshxMW4E0QKg2SUheND7OU8+utVNlAXY3tje295mhQE4A3fblnToCpJ2wAg8/QG42V4350g6ApMbSDp157QAHraH2Tkd8Zr8Yyk/M3PfrEVgSku1+DdBS2wlWGXkiLhExGvRxa8EC8V8gpq5BG813u5dfqCCqgAAAABJRU5ErkJggg==');
}
.ui-icon-lock:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJJJREFUKJG1kEEKwjAURP8X17WXKXgJKeIx4kkKPZT2TNJuZsbNX4SQlLrwQTZ//swkMcsg+QCwAFjjvEnerQaAWQ0ATFYmh7CRTJJ6kh3JBGCTJJJjnr7EMJXNJJ8R9soNa7T3pUHSJQyffChJqj6u0H1vscbpl+WmQdIg6XrY4O4yM9a0c6P55u7Hr7TH/3/pCxzhpO+XTBPHAAAAAElFTkSuQmCC');
}
.ui-icon-magnifying-glass:after,
.ui-input-search:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAQZJREFUKJGVkTFKQ1EQRd97YARFo4W1tmJrKSncRkrFVix0Ay7Axh2IK5A01qJExMoiiL2QyoDEIpx7bUb8/vyg3mYecznDvDsphWzvAFfACJgAT5JOJM2nWZJ0CMi2gQ9g6BDQt91ugjqAgLGkfdut6G8CdwFfToFAz7Yl7dU9223gNbbZqIMjYGx7rukbwFkM7lb7JaW0kFJ6zzlPmsCc81vUxTo4KKWsSdpqAm3vRh38MCQdRwD3tldr3lF4L7ZLfWKrkt4QOAdOgRt/60HS0tQ6kpaBi69bVm74DDzG+7YRjgHrkrq2DyR1bJc4Sf9XeEZA7cjAQO/PYMArwLWk7X+BdX0CelQ/NQrA/74AAAAASUVORK5CYII=');
}
.ui-icon-map-marker:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAALhJREFUGJVtjj1qQlEUhOddAu5A7WzF1rUkO3IRErAOKUIiVjZuyCKiForfTJobuMl70535OTOSJNsLYAdcgQuwTTJXI57Sx3eSuYBdkgAftse2J8Bn5b4EXJPE9lgVSabVcC6SbpXv1Me9SDrU1Lomp7Zfq+Eg2y8DA3/xLNsj4PhfAY62R6WUcpO0GejfVE2yPQMeTfphe/bHnuS9Mbz1/iVZNhOWA5USsAf2LffUHl3XrSSl5X4AXwrzCtYRSiwAAAAASUVORK5CYII=');
}
.ui-icon-minus:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAECAYAAAC+0w63AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABZJREFUCJljZGBg+M9ABmAiR9PAaAQA45QBB1B7c+AAAAAASUVORK5CYII=');
}
.ui-icon-no:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAO5JREFUKJF9kjGOwjAQRV1m6UGIs8CKY6TYbs/ADUCIyyCqbTgFQeIcaFMQivc/zQQZSPIrj7+fZzyelDJJmgE74ALcgQY4A1tJs9QlSb9A7R4BtaSyC1Ic+LM9t13YLiQtgH14esJRXp3dXEkad1S0Cv/f9jQBuzYTUA3BwCH8TQIukWwuaTwES/oO75SAe4BFmL2w7VHs3xLQ5OAQLOkr9poEnG1b0uKtrA/Y9rKNE7CNYN/RyRcYOMZ6/fIdklZDcOgqadKaZTYAh+jeKN60zDJJ0s/7zWV8bp+uH1DW7imwAU7ALYa8AtbP8kIPSmcLeXqetrQAAAAASUVORK5CYII=');
}
.ui-icon-pencil:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAG5JREFUKJHFzcENgDAMQ9FvxCCMxibNKIzSUdjEHGilIlTUnvApUvJiGIztsB2j9y2qCYB16sOdZPsb1u+SwjZAqrsuLCiVucVIii7yO4/j5atpOJ2mV9t/aJtGBe7TqMBjGgGynYETyECWdI7AC+9G4uZE8DtQAAAAAElFTkSuQmCC');
}
.ui-icon-person:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAMxJREFUKJGNkb1OQkEUhGdPKHwNAjQUJvoC1hSEUjtDy3MRKxMjjbwACRWdz+BPrDAUBGbG5habzcq9Xz3fzmwOUGC7R3JJ8kRyK2laZqpIWjiDpCTdtYokNy4g+dJF3FfE77aZo1LK5g7zbBTuQ+3BiEgA7i81Dkj+VBq/JPXb/vhcEZ8uSk3rLclDJv1Kum4Vm9Z1Jr7WMgkAbF/ZnqWUJpJuAIwjotcsOAN4B7CLiDfbq4g4QtKc5GftDP+c5kPSY7LtTvsLyjt25g9hYB/hzo2DKgAAAABJRU5ErkJggg==');
}
.ui-icon-phone:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAOBJREFUKJGV0a9Kw2EYxfGztxg2EBZsthWLxTD/RMHk/XgdDrF5EcLuQKZYDWuzCGJ0EzS47zkGf+HHwO319M9z4DmSJNtnSQ70n9geAJ9J3m0PqyHwBIyAJTC3fVQLARYt/FwLZ0kCfAAj28c1rki6laRSSk/SdynlvqrR9i7w1bS+2t6pgg2+SBPgwXa3CiYpwLiFJ7b7rcN7tvf/wj3gsYVntoe2+8Db2p2TbAN3aQWYA9fAci22vQXcrOAFcNXs/LLpYefAdAVf2j6VpM6Gp3UknSQ51O/m41LKVJJ+ACf9G5yzDZIFAAAAAElFTkSuQmCC');
}
.ui-icon-plus:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAC9JREFUKJFjZMAC/v///x+Zz8jIyIiuhgmbRmLAENLIiB4QNLdxAPyITXA0AUAAAFaSDBbPbobZAAAAAElFTkSuQmCC');
}
.ui-icon-power:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAQJJREFUKJGNkLFKg0EQhPfOQIg+gKa3sde8RECxEAsRfBUbX8HK2iaVjSCpgk8hBAsRFS00dso3Y3M/XH7+gAPHsTs7uzsb0QFgBky7uE7Y/gQ+urhcFW3Zzu0C22uShksCSQeSniWdtwWSLmw/SRo3iQ3gzbYlHbZXsn1k28CLpEFIOi2J61UegElpeJxtjyIiUkqTao3fiPhp4oazPepFxKAkv6qCk4igsrIo/3ovpfRY1HsRMY2IyDnftbzvlkbzkLQDCHiVtNlxpSHwDiBpuzF1VYw/SBpL6pe3D8wLd1l3GQC3LigTVcU3kvpLo21n22fAPfANLIBZOXtqr/pv/AH9hwnaJYrO5AAAAABJRU5ErkJggg==');
}
.ui-icon-re-cycle:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAALNJREFUKJGFkbENwjAUROmISKRUlIwUKhgExoJFKJIuEjtkgCgU747GRgk45iQ31n++++fNJiGgA17ABHSSrraL1OxCTgjoJR2yoKSj7Z2kUlIDPGfwdu5wtn3OJKgjLOkSX98DAzBI2v9JYdttLOI+W+WWca1C3PFzCUwhRrkGJg2ALoBNJurvSuGfHAqoM3GXJdougD7CoYjKdiXptPZQdD1E+FtZMDpLuthugTGcR2r2DVdqJ8wPtnhmAAAAAElFTkSuQmCC');
}
.ui-icon-redo:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAMRJREFUKJGVkCGOAlEQRGt+BoEEtQkGgSPBINYiyAZF9iYIEiSM4Ro4JJJL7A0QSPYAG2xVrZhPGCbAh5Ld9bq7GkjIdpHy1AG/BfmqAgDyWnMk6RvAJ4AegFalvbJdApIGWZZtAAxDCM9XSuqT/LNtkieSa9tjSR3bjfpJILmP5p2kZjI0yXMsfjwIXdwULoCk9vPjSwUAP3HS7BUAkr5iBkla2s5fgRYkFcGjpLntbgqakDxU3ujkJttB0pTkluTvPc8/vr7HryiBafgAAAAASUVORK5CYII=');
}
.ui-icon-refresh:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAPNJREFUKJGVkrFKQ0EQRReF19gHg99hoRbiB9hEEAX9BQuxspEYRPyVoCBoL35BQNL5EyGmiPDOvTbzYH1mI7kwxezeM7M7TEqZJG0BD8AY+AbmwAdwZ3sz893k0Dkwc0HAVNIpMADqBjoDFJ6hpF3ble1K0h7w1CpSJ0ld4Mu2JV2kgoC3XyBwH8njEmjwpyMwjm47Bai/4L91AuaRV6WOi7S2irkNfqaUku3tVcGXAC//M0s6tL3eJF1gGgO6WgJdx2De88OTZgGAZ0n7kjYiDoDXuENSr13x2PaktHK2J5KOSs/pALfACJhFjIC+pE7u/QH4lHvLtaQgDgAAAABJRU5ErkJggg==');
}
.ui-icon-shopping-bag:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGVJREFUKJHtj7sNgEAMQx0aNkAIUcMKiBmhuz2BAWzTnhCf5kpel8gvVoAMSTXJRHIjeZBMkuo8U+WD7RVAFxFjRAwAetsLniC5SWqyA63t/VGw7a9d3IXeuP4w3zRM5Rp+oZRwAjzDQOsZ+QOkAAAAAElFTkSuQmCC');
}
.ui-icon-speech-bubble:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFpJREFUKJHt0rENgDAMRNHYQ7AWYojswboJM9w3DUhQEafml5aedIULsElqMZikDqwmqbn7UhIB3SIiMujOZ9APvyBwZBHQ3Mwq0DPIzOrr+PisPTVhCl1wGJ1Vv2jmb5Yr3wAAAABJRU5ErkJggg==');
}
.ui-icon-star:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAALpJREFUKJGNkjEOQUEYhP9sVMIB1DqVxB24gmiovGNxCU5BxzUkyCtnPo0Xwu7Lm24zM5n5JxtRADADZiW+VyJsVxFBRFQlTc40lPSU9AAGOU0qeFcppUFKaRgRq86Jks58cMqKgI2kmo6QVNteNzdNJF07mC62J7/JfWDfYtoB/Wxt2+OS0fa4bdVFy2bzohGYv5NvwBJY2r59c7l1e5Iekg62R1/1R5KOku7A/08DpsC21BPYAtPm/QJYiw7xNKZu0gAAAABJRU5ErkJggg==');
}
.ui-icon-tag:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFRJREFUKJHd0LsNwDAIBNDDQ0XZLmTxw1WKYPOpfRUSPIGA7aOoEsAaf1MkL5J3Fw9XD9d/Qpycmm82Mz0c/74oIgrg3X6xk2LzemoD5yjAPeTwgiam2HQanKyEHAAAAABJRU5ErkJggg==');
}
.ui-icon-undo:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAALNJREFUKJGVkS1Og1EURF9IamoxJCh00z1UlATDVmoaNDX13URlVRdBQtgAAklNXWs5c2pek4+Q74dRT8x5d+beUhpSV2Wo1JXqv8yDgKZZFfgBjsAbsFFnnUCLPpJM26BRknt1DqyB7zr5lGTSW1odA7sK7f/Ea+l5V4Fz71JKKSXJ7RW4GQKoi/p87zOOkrwCUU3y2BbhIckS+KpRkuSl6+fmIT+TPHVGAQ7ANsmz+qvnBckXBVc8a76sAAAAAElFTkSuQmCC');
}
.ui-icon-video:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGZJREFUKJG10skNgDAMRFEnogXKQoiOKJelBv/hFGQFEeDA3J/lzYDJ3VfdxN03YLQ6LRTwGo2k2Z5QSUSS9AkW9AlGJEn5MvTb/N5qvZwO2HPOfasr4DxHSmmWZAaMDw+wAENd7ADHaH+PGIsOwgAAAABJRU5ErkJggg==');
}
.ui-icon-warning:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKxJREFUKJGNzsFtwkAARFFzIDfuNEAqiDCiBCiCNEETSRFJExRBCUkD3LmB9P/kso4say17Ttau3840zUjUo3oYu68myQvwC/wkWc6G6jkl6nlu2xq4d7B8r+fA79K0VXcFf01NbAGTpPdQANXtWNMCuHYT+7Dga5JFDb6nF3Wn7gdnp+HEFXDLRICbuvqHwOfwJ/VNbSv4o2t7BZ4V2A6nFvhQNw1wmZpYwZc/jDJtwt1FY0AAAAAASUVORK5CYII=');
}
.ui-icon-x:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGBJREFUKJGdklEKwCAMQ9Oxe687efzpBlpTivkSH69EKhAh6SQdIlsel1+SvOXLZZIVv0Wzh+R/VvXVVJXynT2pKU/SJft3c1S1Kc1yIXnF1B5fM/MYDKhd8uTLLTBJig+jUY4fd8ztxwAAAABJRU5ErkJggg==');
}

/* Alt icons */
.ui-icon-alt.ui-icon-action:after,
.ui-icon-alt .ui-icon-action:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJRJREFUKJGd0TEOAVEQh/FfRHRqcQEH0InENdxA6way1yBRO4TeUUQpoaBajcfu7FrLl7xm3v97mZlHOzbotcyWyHHA8B8xxxGTWEwne9ZH2OEc7u9YRDFJM1xrHq0VE32ccMMKg2+tJpa4YBpmrCwninvMw3LW3t+RxqmIW5/JitkojhvEUjaKTbyy3VBsTeeXcJEHtp45yIo17ikAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-arrow-down:after,
.ui-icon-alt .ui-icon-arrow-down:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEVJREFUKJHt0DEOACAIA0Dw5fxcB2NCKrU8wCYMpNyCW50Ju+PBIFDmQwHD9vvzYLCPU1SYTRikgy/UwRS9sEQVbqOMKVqg6S3qLcM1GQAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-arrow-down-left:after,
.ui-icon-alt .ui-icon-arrow-down-left:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAE5JREFUKJG1z0sKACAIBNChi+fRulltIkr8TETCbJSHCvAlM1clAPoMjXe0cCFQjYbspuNU6+4UwWhSCGrYWKQhjTLoogi2CH3Z+PSjiwdfbFm1IlgwHQAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-arrow-down-right:after,
.ui-icon-alt .ui-icon-arrow-down-right:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGRJREFUKJGdkEEOwCAIBKf1Y/6sPo2f2QttlUDEbrIHwUkmwJem3UoDujYNj1AaPoP5tYILIMABVLOrOpfAcnpYZU/7+ecOI3jcuxoeLObtJoLflgAU/IOlY/WWqhndX9DWVafe+J5PSpqyWe4AAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-arrow-left:after,
.ui-icon-alt .ui-icon-arrow-left:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEpJREFUKJGdz8sJACAMRMGnNmZplmZn8SSIaIy7kFOYfOCe5vRcZCr6gisKwx2F4Am9SkKWo3/sKUAHElDVIaeTZSxv/s7EUprXHGsUM9qSFkLPAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-arrow-right:after,
.ui-icon-alt .ui-icon-arrow-right:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEdJREFUKJGlzksKACAMQ8GHeG9787oSpGB/BroKUwJ+JOif0S7WLlaaWHGwLaMTgFndDiyA0YB/U6tPU8jCNLphCR1YRnhoA9kRMlpA+zYzAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-arrow-up:after,
.ui-icon-alt .ui-icon-arrow-up:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEFJREFUKJFjYMANGqCYJNDAwMDwH4qJ1oysiWjN2DQR1IxPE07NxGjC0EyKJrhmRhzO/o/Gx1DHhMvDhMCoRjwAAAKGMeSFlkQGAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-arrow-up-left:after,
.ui-icon-alt .ui-icon-arrow-up-left:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFlJREFUKJG10UsKwDAIRdFb3FiW5tLsytpJyCD4S6GCkycHiQF4Gq049QlVMEQZtAz9svHojXaC96F2sReWWIDLgTbzseVj5ibEZ0+xBKjCd+FWKc2/jfBCL6a9U43gjtJWAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-arrow-up-right:after,
.ui-icon-alt .ui-icon-arrow-up-right:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFdJREFUKJGVzsENgEAIRNGvNmZp2Nl2pjdjcGZhJ+ECvGTgnwDuag4BB7ABp7i9UbCNZxn4ujYxQRZWSEKHcu0WCnFvo/y3hL7/ywiA3eyvCqqqLZBxGz2MpkzN6S8JMAAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-audio:after,
.ui-icon-alt .ui-icon-audio:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAOBJREFUKJGF0b8uREEUx/GP+wJELzYKhYq38ASqjUSnWtmCSmIThUSn8Sia7RUqolJIvAAai4JcxT1Zx93Z65dM5vxmznf+nENZJymuMEZ/Tu5Up/hKfhPvqHHRBdUtENbxEHtH86AM7mEQ8Qqe8Yke3CSgDd6FPww/CH+uAGVwFS+YYCnGdxzYCcJlrG2Hf8Kkan+0oIWY6+Tr/25cwyvesIjleOotXEdiCbwPfxB+GP4sP2lUAHexH3FPU6gPTWv+aGS2OLCBx9gbzpbhF87glqbp0/516TjFFa6wkxN+AB3LVacW0kjaAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-calendar:after,
.ui-icon-alt .ui-icon-calendar:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAD9JREFUKJFjYECAkwwMDMcZcIMzDAwMJ2AcRgYGhv94FOMETORoGhiNZAPkwCGJPepUAuA/klOIYTMwMFDgVACT9BYpw/9y9AAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-camera:after,
.ui-icon-alt .ui-icon-camera:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIxJREFUKJGV0dEJwkAQBNCnBWgaC2IdEfzQJvywQMFP0UsqiBDUD08IcSHJwcCxO3Mzt8v/OaPDO6PDKeDZou4Rx9BgY6boh1pQbFGhwCrf2yFvGUQ/4I4LrrjhGP1x6FgM4tdYT3F85Wb/4cUUx8p3ag8klNgHvHA4uxyvyKJnJGyC4hiSHGvOLhPKD3Dyba+iZzUCAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-carat-down:after,
.ui-icon-alt .ui-icon-carat-down:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAD5JREFUGJVjYICABijGBVDkGxgYGP5DMTZNKPJMaJL1aJoaoGJ4TYHZhE0Mrya8ivFpwqkYmyaCipE1YVUMAB7LIevHjW1pAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-carat-left:after,
.ui-icon-alt .ui-icon-carat-left:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEtJREFUGJWtjsENwDAIA69NB2OzMloyWfoBCSWQVy35YXxIhlxq5inK18N9KrPPGaz/lOuGTQ3owAWI3cRyd4AT5EAJRSCDRrVNzXxpvxcS02zXAQAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-carat-right:after,
.ui-icon-alt .ui-icon-carat-right:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAE9JREFUGJWdj8sNwCAMQx+wGJuRbsZm9EAQlfkcasmHxE9RDF3m3sqA5l6gKHNRKAEVCED2Xfa5DoAbNIAjpD9cZcw2S6P/of7wKPC9sg1eyBEYSwB/E4QAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-carat-up:after,
.ui-icon-alt .ui-icon-carat-up:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAADpJREFUGJVjYMAOGqCYKNDAwMDwH4oJakJWTFATNsU4NaErbsAhhlMxTjkmNJsasWhoxOV+DHdikwcAJcQj7Zve1QkAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-check:after,
.ui-icon-alt .ui-icon-check:after,
.ui-icon-alt.ui-icon-checkbox-on:after,
.ui-icon-alt .ui-icon-checkbox-on:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFhJREFUKJGdkEEKwCAMBFf/XUgtSPHT9pKIRVvXDOwpjG4C8IhmixNA1dBy6qQmR0I6Vi+LVjKuyU9DVekGySP95SVFAGG1g64gs8FXNer82SMZt0cyCiM9Aok1Bu4pGTQAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-clock:after,
.ui-icon-alt .ui-icon-clock:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAOFJREFUKJGN0lFKQkEUBuAPn8INJLmVzFUEF1pFhtACklpMhIR7yN4U3YgZ2EteH+YMTnGv9cPhzpz7//+cOXP4iT6esMZXxAqPuNCCG3yiboktqibRPgjPuMRZxAAv8W9fivvFSaPC7B1vxX4cnA/0xJ3ySSVyiSWmkZuIRtRR3l/Cq8gtSZ2r4z5NwhrzyHVjv+tox7xYfzcRVuEyOGGSMQzuooNZJG//IbyL74w0EdtwGp8Q3Qdng/OcrBwHYCp1rxsxxKvjAFz/dqykx20buU2TKKMnPe4Su4gFHsry4AAEHE/vKjK3+wAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-cloud:after,
.ui-icon-alt .ui-icon-cloud:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHlJREFUKJGV0cEJwlAQRdGjEFBTRixHsA/bUOzGTWpIcGER4lIrEEHjIpmF8BOTC49ZXeYxwy85jrjh3c09lgZY4YImkTMWfeKhR4qcsEttv/4RI2UI667KGKnBM8R6ghTidoYXsoGjpXjMtZecygcKVNq/jal6x+YLZAlGQA4CXNYAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-dialpad:after,
.ui-icon-alt .ui-icon-dialpad:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAElJREFUKJHVkDkKADAIBCf+/105IH9KilgYsBA7B0SZyl2ABRydwcO6qW5b1/SwhJyQRMwrAF2355bjchQqxwsddTm+0FFXqJwL3FE3Jimu7okAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-envelope:after,
.ui-icon-alt .ui-icon-envelope:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIVJREFUKJGl0LENwjAYROEP6CgyA7QwAaxCk03IKClYJSPQwgwp6CKZgt9SMCkCnHSNfc96MpzQI81sH4w1tuhmQB02wbhihxUaDBPAgHNs9sFIeKD2yhH3EXTDIe7q2CbFy21oVLhEqzhri+2HVlbPyWrlbvITsvpY7a2LTH+b5S/QX+ATr8FIgQszAgAAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-eye:after,
.ui-icon-alt .ui-icon-eye:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJxJREFUKJF90UEOwWAQBeCvDkCtauVeXKHoubiEWokLsHMKktpgYZr8qvWSl0xm3kzezPCNDEsccA/WkcsMYBai1wBrFN2mOa4haFAixzjiJmrX0IIJLsnkssfNKqlfoseuYykP8QnHZHiq2Y6GFsYzyMBhulbXPZoqqZ99dsfvcTaYhu0KDz3HaVH4/469nne0yLCIAbdgHbmvPd/xdj2JpveBQAAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-gear:after,
.ui-icon-alt .ui-icon-gear:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAOdJREFUKJFt0kFKA0EQBdCXMdnqQHZBIRKPIIp6CSFIViLoMgEPoIssPKkbieQAScTRxdSYnrELGn73/9W/uqrJxym+sMNJTlAkeIYrDPCEfuDHwNe4614www8qrAOnax1chWnq+B6CHoaZyobBNdq/GCROG8xR4jDwJrgVDtJGvCVlzTOOi4RfYkzdvfQ9ZSbxqKPZFQHSqDKJva6mwCTsm7jPJD4k+BVnzaav3ZxFlFfiGdvgPrRn78b/2eXWNy4k2SP7D7DKlPppP+dRl5ziXD2nZeLyEmeXuM1c2oqx+oNvcZwT/ALWmEfdK0sJWgAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-heart:after,
.ui-icon-alt .ui-icon-heart:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJxJREFUKJGd0L0JAkEQhuEHaxA01USwDxNrMRIjFQTBOi4QSxD7MDITQ0HQyMi/4FZY5NbzfGGSHd7Zb4acLja44owMdTSwxCX01ugERxMnPD9qi13B+zEMNS5oltWohpbqtGs4/CHuyZd9VIh5j1OuKohZ/HXqssmLxvRDjJR0Qy+19PCLOEieKjAvkCZl0ptFJM1+lWJ5WlUq5QWk0VtEhEUaAQAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-house:after,
.ui-icon-alt .ui-icon-house:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEpJREFUKJHV0EEKACAIRNFvdPBuXhuJoDRt14A7n4pgp2ml0oCuFcYrCuMTumIPmTiCNpxBE8uytd8eoBGAEmzeUr2p3jXPGz+CAwXHMuZbKUj5AAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-info:after,
.ui-icon-alt .ui-icon-info:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKpJREFUKJGd0k0KwjAQhuGn3XgExd5DxHsIBa+j6IF6EEU34in8AV1VF41QYwLiB99mJm8ymRk+VWGDAx7Be6wxltECNzwzvqJOQW10cIJpFGv7cJV5aYpZIn7BSPhTrrycV0Ij4kRfKXBXhM4NEs0qemCsR5kI/qQSpz+4Y4nmD7Ch24irfHNEuTOG70TtewFSbjGPb611w81B5xT01kg33B3uwVss++XBC24QXsLZzHsvAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-list:after,
.ui-icon-alt .ui-icon-list:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAC5JREFUKJFjYGBgOMnAwPCfRHyCiYGB4R8D6eAvGXqoAEaCH88wkOnHP2RY9hcAZvQuiMkKlbgAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-list-bulleted:after,
.ui-icon-alt .ui-icon-list-bulleted:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAENJREFUKJFjYGBgOMnAwHCcAQFOMjAw/CeATzAxMDD8g2IYQGbjAn+JUEMDMBL8eIaBgeEEGp8oP/5hQHXzHyIs+wsAZdgtORFcnwkAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-location-arrow:after,
.ui-icon-alt .ui-icon-location-arrow:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHtJREFUKJGV0bENAkEMRNEHEtRwlUAnJNALogxyrphrBNECEBzJBUa3q12PNJm/PPZs5LTHCYdeYMANL8w4t4AjRnwWYMYTu1qcC6YwHH1txSn5vcxV49T8aN0WFcHub0ZwykARbFZQAlcVbDvhO77ZjX8VZJSqIKpYwQ/vRS+P+Y2KHAAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-lock:after,
.ui-icon-alt .ui-icon-lock:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHpJREFUKJG1kFEKQEAURQ/5xmaUTUiyDFaiLIpZk/jCz6PBPJoPt15N99zbew1cVQMGmGVGoEJRD2zKdPdwLWABGiAFYnkvwkq7YMRsHJtbYYNtzmKmjkIibLLN41ZNJw8+gg+FPuG3QgbkPoUNWF0gUgqF70mq/v+lHU7/IdBjMDvkAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-magnifying-glass:after,
.ui-icon-alt .ui-icon-magnifying-glass:after,
.ui-icon-alt.ui-input-search:after,
.ui-icon-alt .ui-input-search:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAOJJREFUKJGV0T1KQ0EUxfEfASMo5mlhra2ktQwp3IalYisWugEXYOMOxBUEG2sxRMTKIoi9kMqAaCH4LObKM495Yg4Md7iH/3zcQ6UeBpjiE484waI/dIgvlPjAJPYlRihyUD+gd+yjHf0tDAO+zIFXYe5lvAIvcfBm3ZzGbQsN3ziLg3d/N1tYwps0kJxeoy7XwTHW0W0Ad6KO68ZxPOUOazXvKLznuGRGbdX0JjjHKW5UkdxjJfecDi5UWf6sJzzE/rYJhg1pegdSvi0pktF/4JwKaQallPtcWsU1tucFZ/QNAQQ5KvttQjcAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-map-marker:after,
.ui-icon-alt .ui-icon-map-marker:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJFJREFUGJVtzj0OAVAQxPEfCjdApxWts3A8tQjiq1K6CbWCoCASCvvk4U0yzX9nd4e3uljjiguW6MiGJzx/fEyhdYAZGmhiHmwhzj5jmNQKdq7iFrDiX3eYRnoemy2sgk1gUCiY3Ic6DoXhAfXUYVj4P8z6aeORbT+CfWmcBUaFi3pZoFcKwCb8Ue0nsMcWuwReVRg3TqLKb+MAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-minus:after,
.ui-icon-alt .ui-icon-minus:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAECAYAAAC+0w63AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABZJREFUCJljZGBg+M9ABmAiR9PAaAQA45QBB1B7c+AAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-no:after,
.ui-icon-alt .ui-icon-no:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAANVJREFUKJGF0jFOAzEQheGvhPRBUc4CKMfYgo4z5AZBEZeJUtFwigSJc0SkYGnWFJ4VzsrBI1la++3vmXljLmOJV3ziBz0+sA2tGs84I11ZZ3Q1aIgf3nCPm1gP2IU2lPBykumIeaWidehfWIiexkzHBrwP/UUYkaK8eQN+DO1Adi9FPxrwLM6/yZaX4H/wbZz15Dkl2T0NeFXsbWOzq5gxhd/je8PlONYNOOGEu1Hs/D2AvezeLHpaFZkGPE1v7uThXntypxo0xkIe7kG2vI8yN2V58AtUUV7BwNQ1IAAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-pencil:after,
.ui-icon-alt .ui-icon-pencil:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGNJREFUKJHFj9sJgDAMRU/FQTqamzSjdBRHcZP6k0Ifoml+vHBJIDm5BOwS9ZIEKGoB2FcvAMkCylBTHbyB0i7S/9f2E1QGd8ubIcmkp6Qp7T8oeiCAwwMBZA8UgBO4tNb+UzdAATKLPxchrgAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-person:after,
.ui-icon-alt .ui-icon-person:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKdJREFUKJGV0j0OAVEQAOCPSLiGoFW4gBMohU60DiUKUUlE5wISJafwExVRbYKCTTbrsWuSKV4y35t5mcdnlDBFhA06gZpgjPBI5B3tPHCdgg8s8sBLAJ6yUCOA4nHrycJiCva/XFhA71fHGs6BjkdUs8adB+AsC0ELtwS6opkHwioBl78KK16Pn2Dn9WtiGGGLMboox2iIg/AaQrnHoPA+/B3pPeaOJ6ycQb55a6UKAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-phone:after,
.ui-icon-alt .ui-icon-phone:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAL5JREFUKJGV0T1LgmEUBuBLGxwSDIe2NpeWVr/GwKn/4+8opK0fEfQPxMLVwc2WwBz9AB0s3ob3ER8E8/GeDhwuDpz7Qp4OrvDtjNSwxhz1c+AIT/jBAs1U+ItlhD9T4QQZVgG3UlARr2EuY4v31Is32ISrU1ynQugGmOEDl6mwiLcID1CN9re4O4bLGEZ4Iu+1ipkTPVfQj3Am7/ZZXtW/uISXA7xEL+CvY3CXB4wP8CPuoXACF9BGw/6BY/gDvyQ3KN8pK4sAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-plus:after,
.ui-icon-alt .ui-icon-plus:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAACtJREFUKJFjZMAO/qPxGdEVMOHQSBAMIY2MDJgBQVsbB8aP2MBoAmBgYAAAMeEDGUY6NTwAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-power:after,
.ui-icon-alt .ui-icon-power:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAANZJREFUKJGN0L1KQ0EQBeAv14BEH8Ckt7HXvISgWEgKCfguVj6BlXWaVDaCaBN8CkEsVbRQ0/mTa5FZWK9r8MAyOzNn5uxZypjg8o9eES94LjWq7N5t5AlL6DWLu/jCUUHhGJ/YTuRVPKLGXmFgP3r36MAwCqMFHsbBGVToZ8WED7w3BqDfTjJ4zQgH4SnhLeJKhbtItjLCBa6yfDPiLWxghges+Y0enkJxPRVPw9SN+fctx9mJrTVO8i0dnEejDsVZlp/Fgh+ocIhrTMPoxPzbW4Wn/g/fLgA1dWsM2LYAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-re-cycle:after,
.ui-icon-alt .ui-icon-re-cycle:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJ5JREFUKJGFkTEOgzAMRd/WqCB1YuRIMLUHKcdqL8IAWyXu0AMgOtHBjmRaJ/nSl6IvvyS2wdcMfIBNzwMQErUH7Y5fQFsCe+AMVEAHLAY+2cKbOqWLge8xbIC3uin8YgemGDxNH48MWGvNasNNwyoDug/MGnQZ0G1pUHBBBpHS3xADMuoI99pTDVwzFwGy3Aj/uqiA7GlCprcCo1f4BYWEM3yzNJz6AAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-redo:after,
.ui-icon-alt .ui-icon-redo:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKNJREFUKJGV0DEOAVEUheEvQqGkkmgUOolGoVWIqMROFBIl09iGTqm0CTtQKFmAqI3miTFMPKd6Off+OeddfiuJ2HlT+i+UZqFybjjAFH20UcvMVlmgiw16MZEdXEPsGWsM0UQlXwn2wdihWvCHJGvcgtkoaJDkjSdQj+lfwiG8ZzEAjELCHUufp/6qRQBSnDBH6xc0xtHrjGlMUgkTbHH5tvAAPFMjvUFC/dgAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-refresh:after,
.ui-icon-alt .ui-icon-refresh:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAANhJREFUKJGV0j1KQ1EQBeCPCDb2weA6LDSFuAAbBVGIW7AIVmkkhiBuRRQE7cUVCCGdmwgxRYSnL8Wb6PORG5IDA/Nzztw79w7/sYM7DPGFKQboY7vEuy6LLjBBnrAxztFDNhe18BOEe+xjM6yJx0qTDBr4jMSlNF6rwtsIHpaIeotOHEawlxB1F8ybUbxcHvOsjNo65KrwI/zddYXP4bdX4B9hYx40FJ+b42qJqBOct3LyzN8CPOEAW2GHeInaN46rHU8xkl65EU5S16njBu+KvZ2E343aL2btgEkRxRUxWQAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-shopping-bag:after,
.ui-icon-alt .ui-icon-shopping-bag:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFZJREFUKJHtzzEOQFAQRdFDYwciomYLYo109vlZAY2CH59G6VYzL+9mMlwpMCNgPebiXMgjYUKNDi0ajB4IKE97heVJ2N6yLFFKEv8w3HT6Ty/8wifCDoSeC0K/UivtAAAAAElFTkSuQmCC');
}
.ui-icon-alt.ui-icon-speech-bubble:after,
.ui-icon-alt .ui-icon-speech-bubble:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEtJREFUKJHt0rEJgEAMBdCn+4m4keNedAgt9BqrS2oDHwLhhRSBDYFrMAdWSdQT09uka66gHw7As+CC5wsyT9CwfDf14Z49oYRk0A3MFy3ywXqBOQAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-star:after,
.ui-icon-alt .ui-icon-star:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJlJREFUKJGV0TEOAUEYhuEnohJ7gK11Kok7cAXRUO2daLgEp6DjGpsgagr/Jovdtb7kSyYz7/tnMkN9xtG/s8bqXynBDVf0q4BOjTgPIYl16xzxiB7qoCXuJfBX71gU8hDnFtIp2Lf0sG2QNsFUZtAgDsrg56tO6yZi0iQWhzlm0bxKLKfr9eE7pKX9FHtcgvnKCFnDVbNgwBM6EjR8Lo9AQQAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-tag:after,
.ui-icon-alt .ui-icon-tag:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGNJREFUKJGl0kEKwCAMRNFfcqciXXk0j2ZP1m4Ugo01aQU34zyMIMBl7IJjWdCFe3EHUgT3UgKOyM2zUV+xABuQF8/JrVc1rF+wtDCMRYUhLEPoxefsoPDjY1h4iSzsRho/0A34VDqPolYk0gAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-undo:after,
.ui-icon-alt .ui-icon-undo:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJxJREFUKJGV0SEKAkEUh/EfwharRTCZxTsYFCxexSJmt9i9hNHkIQTxAgajFptW2bWMsKu77u4Hw8C8//fmDUOeWANipE3DtYRsOMULdxywwahKKFonDMukCD2MscY1nD8wKJK+aWMXavui8YroBuFZUv+h8xFaNYV52I9VwQgrJOGGSVmwjwUuIZhg+a9z9g/OmFaNcsMWM+Te+QZWtTGkQeVUfgAAAABJRU5ErkJggg==');
}
.ui-icon-alt.ui-icon-video:after,
.ui-icon-alt .ui-icon-video:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFVJREFUKJG10UEKQCEIRdFL+4v4O3K51Sb8gwhEKmyQ8AYODjwR4AMaoJt0oLCYE5ppzggBNGOR3kKxexRapGl1dHSeV8VhegBV11JgPPf0ywpkf98PatxisIq39LAAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-warning:after,
.ui-icon-alt .ui-icon-warning:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJpJREFUKJGVj8ENglAQRB8HvXm3Aa2AgLEELUKboAksQpugCEvQBrhz04PLZTA/m0Vwkkl+Zucl82FcR+Dw4x5qCTyBB7D4B6wAk6u50BroErBTNqmbgALY6X2dgkrgo/IgU1aMQRlwTyamoOmWReA5KZlm7l128tAKaF0pcqvuV5eglOvPPq8HaAu8g0IZTDXgBWwAmhkTvZsegz1JeMzzc+YAAAAASUVORK5CYII=');
}
.ui-icon-alt.ui-icon-x:after,
.ui-icon-alt .ui-icon-x:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAF1JREFUKJGdkVEKwCAMQ8PYve1Orj/KnE00rBCQxldSCrwVXaqoHwBqF4OpPzcZTP1bxCrivY1yUlrFgRPkwB/o2uV361dUB7LuOD5IT93xWWLJW86T0x4nP1hT+Q1BGFdF5W6VGQAAAABJRU5ErkJggg==');
}
