body {
  font-family: sans-serif;
}

#results, #suite-name {
  width: 90%;
  font-size: 2em;
}

#results td, #results th {
  padding: 10px;
  background: #EEE;
}

#results th {
  text-align: left;
}

#results .name {
  width: 80%;
}

#results, #suite-name {
  margin: 20px;
}

#run {
  width: 20%;
  float: right;
  font-size: 0.7em;
}

#fixtures {
  display: none;
}

#run {
  min-width: 100px;
}