/* JQM Demos custom CSS */

/* Header */
.jqm-demos .jqm-header {
	border-top: 4px solid #3eb249;
}
.jqm-demos .jqm-header h2 {
	padding: .4em 0 .1em;
	margin: 0 3em;
}
.jqm-demos .jqm-header h2 a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
.jqm-demos .jqm-header h2 img {
	display: block;
	width: 140px;
	height: auto;
}
.jqm-demos .jqm-header h2 > img {
	display: inline-block;
}
.jqm-demos .jqm-header p {
	position: absolute;
	bottom: -2.5em;
	left: 1em;
	margin: 0;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.jqm-demos .jqm-header .ui-btn {
	width: 2em;
	height: 2em;
}
.jqm-demos .jqm-header .ui-btn {
	top: 50%;
	margin-top: -1em;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	opacity: .4;
	filter: Alpha(Opacity=40);
}

/* Footer */
.jqm-demos .jqm-footer.ui-footer {
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
}
.jqm-demos .jqm-footer {
	border-top: 1px solid #3eb249;
}
.jqm-demos .jqm-footer p {
	font-size: .8em;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0 1.25em 1.25em;
}
.jqm-demos .jqm-footer p:first-child {
	font-size: 1em;
	color: #666;
	font-weight: 400;
	margin: 1em 1em .75em;
}

/* Content */
.jqm-demos .jqm-content {
	padding-top: 3em;
}
.jqm-demos .jqm-content > h1,
.jqm-demos .jqm-content > h2,
.jqm-demos .jqm-content > h3,
.jqm-demos .jqm-content > p,
.jqm-demos .jqm-content > ul li,
.jqm-demos .jqm-content > a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.jqm-demos .jqm-content > h1 {
	color: #333;
	background-color: transparent;
	font-size: 2.4em;
	margin: 0 0 .625em;
}
.jqm-demos .jqm-content > h2 {
	color: #3eb249;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	font-size: 1.6em;
	padding-bottom: .2em;
	margin: 0 0 .7375em;
}
.jqm-demos .jqm-content > h3 {
	color: #3eb249;
	background-color: transparent;
	font-size: 1.4em;
	margin: 0 0 1em;
}
.jqm-demos .jqm-content > p {
	color: #333;
	font-size: 1.2em;
	line-height: 1.5;
}
.jqm-demos .jqm-content > ul:not(.jqm-list) li {
	color: #333;
	font-size: 1.2em;
	line-height: 1.5;
}
.jqm-demos .jqm-content > p {
	margin: 0 0 1.25em;
}
.jqm-demos .jqm-content > ul,
.jqm-demos .jqm-content > ol {
	padding-left: 1.3em;
}
.jqm-demos .jqm-content > .ui-listview {
	padding-left: 0;
}
.jqm-demos .jqm-content > a,
.jqm-demos .jqm-content > p a {
	font-weight: 400;
	text-decoration: none;
}
.jqm-demos .jqm-content strong {
	font-weight: 700;
}
.jqm-demos .jqm-content > p strong {
	font-weight: 400;
}

.jqm-demos .jqm-content .jqm-deeplink {
	display: block;
	color: #999;
	font-weight: 300;
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: .2em;
	margin: 0 0 1.5em;
}
.jqm-demos .jqm-content .jqm-deeplink:after {
	content: "";
	display: block;
	float: right;
	margin: .1em 0 0 .5em;
	width: 1em;
	height: 1em;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .4;
	filter: Alpha(Opacity=40);
}

.jqm-demos .jqm-content .jqm-view-source-link,
.jqm-demos .jqm-content .jqm-view-source-link:visited,
.jqm-demos .jqm-content .jqm-view-source-link:hover,
.jqm-demos .jqm-content .jqm-view-source-link:active {
	color: #3eb249;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 2em 0 1.5em 1em;
}
.jqm-demos .jqm-content .jqm-view-source-link.ui-btn-active:link {
	color: #fff;
}

/* Lists */
.jqm-demos .jqm-search .jqm-list {
	margin: 0 -1em 1em;
}
.jqm-demos .jqm-list .ui-btn,
.jqm-demos .jqm-list .ui-li-divider {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.jqm-demos .jqm-list .ui-li-divider {
	color: #3eb249;
}

/* Code */
.jqm-content pre,
.jqm-content code {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background: #e5e5e5;
	background: rgba(0,0,0,.05);
	padding: 0 .125em;
	color: #333;
}
.jqm-content pre {
	padding: 0 1em 1.2em;
	white-space: pre-wrap;	
}
.jqm-content pre > code {
	padding: 0;	
	background: none;
	font-size: .9em;
}

/* Panel */
.ui-panel-display-reveal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.jqm-demos .ui-panel-page-content-position-left.ui-panel-page-content-display-reveal {
	-webkit-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	-moz-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	box-shadow: -5px 0 5px rgba(0,0,0,.10);
}

@media (min-width: 60em) {
	.jqm-demos .jqm-header {
		background: none;
		border-bottom: 0;
	}
	.jqm-demos .jqm-header h2 {
		padding: .7em 0 .4em;
		margin: 0 15%;
		text-align: left;
	}
	.jqm-demos .jqm-header h2 img {
		width: 200px;
	}
	.jqm-demos .jqm-header p {
		bottom: auto;
		left: auto;
		top: 50%;
		right: 15%;
		margin-top: -.625em;
	}
	.jqm-demos .jqm-header .ui-btn {
		background: none;
		border: 0;
	}
	.jqm-demos .jqm-footer p {
		float: right;
		margin: 1.25em 15% 1.25em 1.25em;
	}
	.jqm-demos .jqm-footer p:first-child {
		float: left;
		margin: 1em 1em 1em 15%;
	}
	.jqm-demos .jqm-content:not(.jqm-fullwidth) {
		padding-left: 15%;
		padding-right: 15%;
	}
}

/* View source popup */
#jqm-view-source-popup.ui-popup-container {
	width: 90%;
	max-width: 1500px;
}
.jqm-view-source .ui-collapsible-set {
	margin: 0;
}
.jqm-view-source .ui-collapsible-heading .ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.jqm-view-source .ui-collapsible-heading .ui-btn-inner {
	padding: .4em;
}
.jqm-view-source .ui-collapsible-content {
	padding: 0;
	overflow: auto;
}
.jqm-view-source .ui-collapsible-content .phpStatus {
	padding: 1em;
}
.jqm-view-source .ui-collapsible-content > div,
.jqm-view-source .ui-collapsible-content .syntaxhighlighter {
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar {
    width: 5px;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar-track {
    background: transparent;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar-thumb {
	background: #435A5F;
	border: solid #222;
	border-width: 12px 2px 12px 0;
	border-bottom-right-radius: 5px;
}
.jqm-view-source .ui-collapsible-content td.code .container > textarea {
	resize: none;
}

/* Button C - HTML */
.jqm-view-source .ui-btn.ui-btn-c,
.jqm-view-source .ui-btn.ui-btn-c:visited,
.jqm-view-source .ui-btn.ui-btn-c:hover,
.jqm-view-source .ui-btn.ui-btn-c:active,
.jqm-view-source .ui-btn.ui-btn-c.ui-btn-active {
	background: #005aff;
	border-color: #0033cc;
	color: #fff;
	text-shadow: 0 1px 0 #0033cc;
}
/* Button D - PHP */
.jqm-view-source .ui-btn.ui-btn-d,
.jqm-view-source .ui-btn.ui-btn-d:visited,
.jqm-view-source .ui-btn.ui-btn-d:hover,
.jqm-view-source .ui-btn.ui-btn-d:active,
.jqm-view-source .ui-btn.ui-btn-d.ui-btn-active {
	background: #ed1c24;
	border-color: #ff0000;
	color: #fff;
	text-shadow: 0 1px 0 #ff0000;
}
/* Button E - JS */
.jqm-view-source .ui-btn.ui-btn-e,
.jqm-view-source .ui-btn.ui-btn-e:visited,
.jqm-view-source .ui-btn.ui-btn-e:hover,
.jqm-view-source .ui-btn.ui-btn-e:active,
.jqm-view-source .ui-btn.ui-btn-e.ui-btn-active {
	background: #3EB249;
	border-color: #108040;
	color: #fff;
	text-shadow: 0 1px 0 #108040;
}
/* Button F - CSS */
.jqm-view-source .ui-btn.ui-btn-f,
.jqm-view-source .ui-btn.ui-btn-f:visited,
.jqm-view-source .ui-btn.ui-btn-f:hover,
.jqm-view-source .ui-btn.ui-btn-f:active,
.jqm-view-source .ui-btn.ui-btn-f.ui-btn-active {
	background: #ec008c;
	border-color: #cc0099;
	color: #fff;
	text-shadow: 0 1px 0 #cc0099;
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	background: none;
	border: 0;
	bottom: auto;
	float: none;
	left: auto;
	height: auto;
	line-height: 18px;
	margin: 0;
	outline: 0;
	overflow: visible;
	padding: 0;
	position: static;
	right: auto;
	text-align: left;
	top: auto;
	vertical-align: baseline;
	width: auto;
	box-sizing: content-box;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	min-height: inherit;
	min-height: auto;
}
.syntaxhighlighter {
	width: auto;
	margin: 0;
	padding: 1em 0;
	position: relative;
	overflow: auto;
	font-size: 13px;
}
.syntaxhighlighter.source {
	overflow: hidden;
}
.syntaxhighlighter .bold {
	font-weight: bold;
}
.syntaxhighlighter .italic {
	font-style: italic;
}
.syntaxhighlighter .line {
	white-space: pre;
	white-space: pre-wrap;
}
.syntaxhighlighter table {
	width: 100%;
}
.syntaxhighlighter table caption {
	text-align: left;
	padding: .5em 0 0.5em 1em;
}
.syntaxhighlighter table td.code {
	width: 100%;
}
.syntaxhighlighter table td.code .container {
	position: relative;
}
.syntaxhighlighter table td.code .container textarea {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	background: white;
	padding-left: 1em;
	overflow: hidden;
	white-space: pre;
}
.syntaxhighlighter table td.gutter .line {
	text-align: right;
	padding: 0 0.5em 0 1em;
}
.syntaxhighlighter table td.code .line {
	padding: 0 1em;
}
.syntaxhighlighter.show {
	display: block;
}
.syntaxhighlighter.collapsed table {
	display: none;
}
.syntaxhighlighter .line.alt1 {
	background-color: transparent;
}
.syntaxhighlighter .line.alt2 {
	background-color: transparent;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
	background-color: #253e5a;
}
.syntaxhighlighter .line.highlighted.number {
	color: #38566f;
}
.syntaxhighlighter table caption {
	color: #d1edff;
}
.syntaxhighlighter .gutter {
	color: #afafaf;
}
.syntaxhighlighter .gutter .line {
	border-right: 3px solid #435a5f;
}
.syntaxhighlighter .gutter .line.highlighted {
	background-color: #435a5f;
	color: #0f192a;
}
.syntaxhighlighter.collapsed {
	overflow: visible;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
	color: #eee;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
	color: #5ba1cf;
}
.syntaxhighlighter .string {
	color: #98da31;
}
.syntaxhighlighter .string a {
	color: #1dc116;
}
.syntaxhighlighter .keyword {
	color: #ffae00;
}
.syntaxhighlighter .preprocessor {
	color: #8aa6c1;
}
.syntaxhighlighter .variable {
	color: #ffaa3e;
}
.syntaxhighlighter .value {
	color: #f7e741;
}
.syntaxhighlighter .functions {
	color: #ffaa3e;
}
.syntaxhighlighter .constants {
	color: #e0e8ff;
}
.syntaxhighlighter .script {
	font-weight: bold;
	color: #b43d3d;
	background-color: none;
}
.syntaxhighlighter .color1 {
	color: #8df;
}
.syntaxhighlighter .color1 a {
	color: #f8bb00;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
	color: white;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
	color: #ffaa3e;
}
.syntaxhighlighter table td.code {
	cursor: text;
}
.syntaxhighlighter table td.code .container textarea {
	background: #eee;
	white-space: pre;
	white-space: pre-wrap;
}
.syntaxhighlighter ::-moz-selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
.syntaxhighlighter ::-webkit-selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
.syntaxhighlighter ::selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
