ul li { clear:both; }
li p.currency-from { padding-top:23px; font-size: 180%; font-weight:bold; }
li p.currency-from a:link, li p.units a:visited { padding-top:26px; font-size: 90%; }
span.unit { opacity:0.5; }

li p.subtext { margin-top:2px; }
li p.ui-li-aside { font-size:190%; width:60%; }



form#curr-form { border-width: 0; overflow: hidden; margin: 2px -15px 2px -15px }
form#curr-form .ui-input-search { margin: 5px; width: auto; display: block; }

.add-row { font-weight:bold; font-size:110%; }