/* JQM Demos CSS */

strong { font-weight: bold; }
img { max-width: 100%; }

/* Header */
.jqm-header {
	text-align: center;
}
h1#jqm-logo {
	font-size: 1em;
	margin: .5em 15px 0;
}
#jqm-logo img {
	width: 180px;
	height: 51px;
}
.jqm-header h2 {
	margin: 0 15px .3em;
	font-size: 1.3em;
	line-height: 1.25em;
	border-top: 1px solid rgba(0,0,0,.08);
	border-bottom: 1px solid rgba(0,0,0,.08);
}
.jqm-header p.jqm-version {
	display: none;
}
@media all and (min-width:650px) {
	.jqm-header {
		text-align: left;
		overflow: hidden;
	}
	h1#jqm-logo {
		float: left;
		margin: 1em 15px;
	}
	#jqm-logo img {
		width: 275px;
		height: 78px;
	}
	.jqm-header h2 {
		float: right;
		font-size: 1.5em;
		margin: 1em 15px 0;
		border: none;
	}
	.jqm-header p.jqm-version {
		display: block;
		float: right;
		clear: right;
		margin: 0 15px;
		font-size: .8em;
		text-transform: uppercase;
		color: #74b042;
	}
}



/* Footer */
.jqm-footer {
	border-top: 1px solid #B3B3B3;
	color: #808080;
}
.jqm-footer p {
	font-size: .9em;
	margin: .7em 15px;	
}
.jqm-footer p.jqm-version {
	font-weight: bold;
}
@media all and (min-width:650px) {
	.jqm-footer {
		overflow: hidden;		
	}
	.jqm-footer p {
		margin: 1.5em 15px;
		float: left;		
	}
	.jqm-footer p.jqm-version {
		float: right;
		font-weight: normal;
	}
	.jqm-demos-home .jqm-footer p.jqm-version {
		display: none;
	}
}

/* Content */
.content-primary > h2 {
	font-size: 1.5em;
	margin: .8em 0 .33em;
}
.content-primary > h3 {
	font-size: 1em;
	margin: 1.2em 0 .5em;
}
div[data-demo-html] {
	border-top: 1px solid rgba(0,0,0,.08);
	margin: 0;
	padding: 1.2em 0;
}
div.jqm-demo-link {
	border-top: 1px solid rgba(0,0,0,.08);
	padding: .6em 0 0;
	margin: 0 0 2.4em;
}
.jqm-demo-link .ui-btn.ui-mini {
	margin: 0;
}

/* Swatch F - bar & buttons */
.ui-bar-f {
	border: 1px solid #56A00E;
	background: 			#74b042;
	color: 					#fff;
	font-weight: bold;
	text-shadow: 0 1px 1px #335413;	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
	background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
	background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
	background-image:         linear-gradient(#74b042, #56A00E);		
}
.ui-bar-f, 
.ui-bar-f input, 
.ui-bar-f select, 
.ui-bar-f textarea, 
.ui-bar-f button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-bar-f,
.ui-bar-f .ui-link-inherit {
	color: 					#fff;
}
.ui-bar-f .ui-link {
	color: 					#fff;
	font-weight: bold;
}
.ui-btn-up-f {
	border: 1px solid 		#3B6F07;
	background: 			#56A00E;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
	background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
	background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
	background-image:         linear-gradient(#74b042, #56A00E);
}
.ui-btn-up-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-hover-f {
	border: 1px solid 		#3B6F07;
	background: 			#6EBC1F;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8FC963), to(#6EBC1F)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#8FC963, #6EBC1F); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#8FC963, #6EBC1F); /* FF3.6 */
	background-image:     -ms-linear-gradient(#8FC963, #6EBC1F); /* IE10 */
	background-image:      -o-linear-gradient(#8FC963, #6EBC1F); /* Opera 11.10+ */
	background-image:         linear-gradient(#8FC963, #6EBC1F);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-f {
	border: 1px solid 		#3B6F07;
	background: 			#3d3d3d;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#56A00E), to(#64A234)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#56A00E, #64A234); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#56A00E, #64A234); /* FF3.6 */
	background-image:     -ms-linear-gradient(#56A00E, #64A234); /* IE10 */
	background-image:      -o-linear-gradient(#56A00E, #64A234); /* Opera 11.10+ */
	background-image:         linear-gradient(#56A00E, #64A234);
}
.ui-btn-down-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

/* Swatch G - bar & buttons */
.ui-bar-g {
	border: 1px solid #db0007 /*{g-bar-border}*/;
	background: #db0007 /*{g-bar-background-color}*/;
	color: #ffffff /*{g-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{g-bar-shadow-x}*/ 1px /*{g-bar-shadow-y}*/ 1px /*{g-bar-shadow-radius}*/ #444444 /*{g-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f00007 /*{g-bar-background-start}*/), to( #c50006 /*{g-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f00007 /*{g-bar-background-start}*/, #c50006 /*{g-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f00007 /*{g-bar-background-start}*/, #c50006 /*{g-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f00007 /*{g-bar-background-start}*/, #c50006 /*{g-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f00007 /*{g-bar-background-start}*/, #c50006 /*{g-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f00007 /*{g-bar-background-start}*/, #c50006 /*{g-bar-background-end}*/);
}
.ui-bar-g .ui-link-inherit {
	color: #ffffff /*{g-bar-color}*/;
}
.ui-bar-g a.ui-link {
	color: #7cc4e7 /*{g-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-g,
.ui-bar-g input,
.ui-bar-g select,
.ui-bar-g textarea,
.ui-bar-g button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-btn-up-g {
	border: 1px solid #db0007 /*{g-bup-border}*/;
	background: #db0007 /*{g-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{g-bup-color}*/;
	text-shadow: 0 /*{g-bup-shadow-x}*/ 1px /*{g-bup-shadow-y}*/ 0 /*{g-bup-shadow-radius}*/ #444444 /*{g-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f00007 /*{g-bup-background-start}*/), to( #c50006 /*{g-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f00007 /*{g-bup-background-start}*/, #c50006 /*{g-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f00007 /*{g-bup-background-start}*/, #c50006 /*{g-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f00007 /*{g-bup-background-start}*/, #c50006 /*{g-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f00007 /*{g-bup-background-start}*/, #c50006 /*{g-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f00007 /*{g-bup-background-start}*/, #c50006 /*{g-bup-background-end}*/);
}
.ui-btn-up-g:visited,
.ui-btn-up-g a.ui-link-inherit {
	color: #ffffff /*{g-bup-color}*/;
}
.ui-btn-hover-g {
	border: 1px solid #fb4508 /*{g-bhover-border}*/;
	background: #fb4508 /*{g-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{g-bhover-color}*/;
	text-shadow: 0 /*{g-bhover-shadow-x}*/ 1px /*{g-bhover-shadow-y}*/ 0 /*{g-bhover-shadow-radius}*/ #444444 /*{g-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF4b08 /*{g-bhover-background-start}*/), to( #e13e07 /*{g-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF4b08 /*{g-bhover-background-start}*/, #e13e07 /*{g-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FF4b08 /*{g-bhover-background-start}*/, #e13e07 /*{g-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FF4b08 /*{g-bhover-background-start}*/, #e13e07 /*{g-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FF4b08 /*{g-bhover-background-start}*/, #e13e07 /*{g-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FF4b08 /*{g-bhover-background-start}*/, #e13e07 /*{g-bhover-background-end}*/);
}
.ui-btn-hover-g:visited,
.ui-btn-hover-g:hover,
.ui-btn-hover-g a.ui-link-inherit {
	color: #ffffff /*{g-bhover-color}*/;
}
.ui-btn-down-g {
	border: 1px solid #fb4508 /*{g-bdown-border}*/;
	background: #fb4508 /*{g-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{g-bdown-color}*/;
	text-shadow: 0 /*{g-bdown-shadow-x}*/ 1px /*{g-bdown-shadow-y}*/ 0 /*{g-bdown-shadow-radius}*/ #444444 /*{g-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e13e07 /*{g-bdown-background-start}*/), to( #FF4b08 /*{g-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e13e07 /*{g-bdown-background-start}*/, #FF4b08 /*{g-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e13e07 /*{g-bdown-background-start}*/, #FF4b08 /*{g-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e13e07 /*{g-bdown-background-start}*/, #FF4b08 /*{g-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e13e07 /*{g-bdown-background-start}*/, #FF4b08 /*{g-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e13e07 /*{g-bdown-background-start}*/, #FF4b08 /*{g-bdown-background-end}*/);
}
.ui-btn-down-g:visited,
.ui-btn-down-g:hover,
.ui-btn-down-g a.ui-link-inherit {
	color: #ffffff /*{g-bdown-color}*/;
}
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* Source code view */
[id|="jqm-demo"].ui-popup-container {
	width: 90%;
	max-width: 1500px;
}
.jqm-demo .ui-collapsible-set {
	margin: 0;
}
.jqm-demo .ui-collapsible-content {
	padding: 0;
	overflow: auto;
}
.jqm-demo .ui-collapsible-content .phpStatus {
	padding: 1em;
}
.jqm-demo .ui-collapsible-content > div,
.jqm-demo .ui-collapsible-content .syntaxhighlighter {
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}
.jqm-demo .ui-collapsible-content::-webkit-scrollbar {
    width: 5px;
}
.jqm-demo .ui-collapsible-content::-webkit-scrollbar-track {
    background: transparent;
}
.jqm-demo .ui-collapsible-content::-webkit-scrollbar-thumb {
	background: #435A5F;
	border: solid #222;
	border-width: 12px 2px 12px 0;
	border-bottom-right-radius: 5px;
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	background: none;
	border: 0;
	bottom: auto;
	float: none;
	left: auto;
	height: auto;
	line-height: 16px;
	margin: 0;
	outline: 0;
	overflow: visible;
	padding: 0;
	position: static;
	right: auto;
	text-align: left;
	top: auto;
	vertical-align: baseline;
	width: auto;
	box-sizing: content-box;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	min-height: inherit;
	min-height: auto;
}
.syntaxhighlighter {
	width: auto;
	margin: 0;
	padding: 1em 0;
	position: relative;
	overflow: auto;
	font-size: 13px;
}
.syntaxhighlighter.source {
	overflow: hidden;
}
.syntaxhighlighter .bold {
	font-weight: bold;
}
.syntaxhighlighter .italic {
	font-style: italic;
}
.syntaxhighlighter .line {
	white-space: pre;
	white-space: pre-wrap;
}
.syntaxhighlighter table {
	width: 100%;
}
.syntaxhighlighter table caption {
	text-align: left;
	padding: .5em 0 0.5em 1em;
}
.syntaxhighlighter table td.code {
	width: 100%;
}
.syntaxhighlighter table td.code .container {
	position: relative;
}
.syntaxhighlighter table td.code .container textarea {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	background: white;
	padding-left: 1em;
	overflow: hidden;
	white-space: pre;
}
.syntaxhighlighter table td.gutter .line {
	text-align: right;
	padding: 0 0.5em 0 1em;
}
.syntaxhighlighter table td.code .line {
	padding: 0 1em;
}
.syntaxhighlighter.show {
	display: block;
}
.syntaxhighlighter.collapsed table {
	display: none;
}
.syntaxhighlighter .line.alt1 {
	background-color: transparent;
}
.syntaxhighlighter .line.alt2 {
	background-color: transparent;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
	background-color: #253e5a;
}
.syntaxhighlighter .line.highlighted.number {
	color: #38566f;
}
.syntaxhighlighter table caption {
	color: #d1edff;
}
.syntaxhighlighter .gutter {
	color: #afafaf;
}
.syntaxhighlighter .gutter .line {
	border-right: 3px solid #435a5f;
}
.syntaxhighlighter .gutter .line.highlighted {
	background-color: #435a5f;
	color: #0f192a;
}
.syntaxhighlighter.collapsed {
	overflow: visible;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
	color: #eee;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
	color: #5ba1cf;
}
.syntaxhighlighter .string {
	color: #9a6;
}
.syntaxhighlighter .string a {
	color: #1dc116;
}
.syntaxhighlighter .keyword {
	color: #c84;
}
.syntaxhighlighter .preprocessor {
	color: #8aa6c1;
}
.syntaxhighlighter .variable {
	color: #ffaa3e;
}
.syntaxhighlighter .value {
	color: #f7e741;
}
.syntaxhighlighter .functions {
	color: #ffaa3e;
}
.syntaxhighlighter .constants {
	color: #e0e8ff;
}
.syntaxhighlighter .script {
	font-weight: bold;
	color: #b43d3d;
	background-color: none;
}
.syntaxhighlighter .color1 {
	color: #8df;
}
.syntaxhighlighter .color1 a {
	color: #f8bb00;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
	color: white;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
	color: #ffaa3e;
}
.syntaxhighlighter table td.code {
	cursor: text;
}
.syntaxhighlighter table td.code .container textarea {
	background: #eee;
	white-space: pre;
	white-space: pre-wrap;
}
.syntaxhighlighter ::-moz-selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
.syntaxhighlighter ::-webkit-selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
.syntaxhighlighter ::selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
