@font-face {
	font-family: 'icons'; /* custom set of 50 icons via Icomoon */
	src:url('fonts/icons.eot');
	src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/icons.woff') format('woff'),
		url('fonts/icons.ttf') format('truetype'),
		url('fonts/icons.svg#icons') format('svg'); /* iefix not used in test */
	font-weight: normal;
	font-style: normal;
}

.test-btn {
	font-size: 1em;
	padding: .75em 2em;
	margin: .5em 0;
	display: block;
	text-align: center;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
}
.test-btn-inline {
	padding-left: 1em;
	padding-right: 1em;
}
a.test-btn {
	text-decoration: none;
}
button.test-btn {
	width: 100%;
	cursor: pointer;
}
.test-btn:focus {
	outline: 0;
	z-index: 1;
}
.test-btn-inline,
.test-btn-icon-notext {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}
button.test-btn-inline,
button.test-btn-icon-notext {
	width: auto;
}
.test-listview,
.test-listview > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.test-listview > li > a {
	display: block;
	margin: 0;
}
.test-listview > li:not(:first-child) > a {
	border-top-width: 0;
}
.test-listview > li:first-child,
.test-listview > li:first-child > a {
	-webkit-border-top-right-radius: inherit;	
	border-top-right-radius: inherit;
	-webkit-border-top-left-radius: inherit;
	border-top-left-radius: inherit;
}
.test-listview > li:last-child,
.test-listview > li:last-child > a {
	-webkit-border-bottom-right-radius: inherit;
	border-bottom-right-radius: inherit;
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit;
}
[class*="test-btn-icon"]:before {
	font-family: 'icons';
	speak: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	font-size: 1em; /* the selected icons have a (16 x N) px crisp size */
	line-height: 1;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -.5em;
}
.test-icon-plus:before {
	content: "\e00a";
}
.test-icon-minus:before {
	content: "\e00b";
}
.test-icon-arrow-l:before {
	content: "\e02c";
}
.test-icon-arrow-r:before {
	content: "\e02d";
}
.test-btn-icon-left {
	padding-left: 2em;
}
.test-btn-icon-right {
	padding-right: 2em;
}
.test-btn-icon-left:before {
	left: .5em;
}
.test-btn-icon-right:before {
	right: .5em;
}
.test-btn-icon-notext,
button.test-btn-icon-notext {
	padding: 0;
	height: 2.5em;
	width: 2.5em;
}
.test-btn-icon-notext:before {
	left: 50%;
	margin-left: -.5em;
}
.test-btn-icon-notext.ui-btn-corner-all {
	-webkit-border-radius: 1.25em;
	border-radius: 1.25em;
}
.ui-btn-a,
.ui-btn-a:link,
.ui-btn-a:visited,
.ui-btn-a:before {
	color: #777;
}
.ui-btn-a:hover,
.ui-btn-a:hover:before {
	color: #444;
}
.ui-btn-a:active,
.ui-btn-a:active:before {
	color: #111;
}
